---
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import Statement from "~/components/blocks/Statement.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="Customers">
  <div class="mx-auto max-w-[1024px]">
    <Statement
      text="Trusted by *teams worldwide* to deliver fun, engaging and collaborative whiteboard sessions."
    />
  </div>
  <CustomerStories limit={999} />
  <Testimonials />
  <WallOfLove />
  <CustomerLogos />
</PageLayout>
