---
import { getCollection } from "astro:content";
import BlogFeedMinimal from "~/components/blocks/BlogFeedMinimal.astro";
import Hero from "~/components/blocks/Hero.astro";
import Newsletter from "~/components/blocks/Newsletter.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import slugify from "slugify";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const tags = Array.from(new Set(posts.map((x) => x.data.category)))
    .filter((x) => !!x)
    .map((x) => slugify(x, { lower: true }));

  return tags.map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;
---

<PageLayout title="Blog" spacing="lg">
  <section class="space-y-16">
    <Hero
      compact
      pill="Ludi Blog"
      title="Guides, news & updates from Ludi"
      description="Tips, product updates, and team collaboration insights from the Ludi team."
    />
  </section>
  <section>
    <BlogFeedMinimal tag={tag} />
  </section>
  <Newsletter />
</PageLayout>
