---
import BlogFeed from "~/components/blocks/BlogFeed.astro";
import BlogHero from "~/components/blocks/BlogHero.astro";
import Newsletter from "~/components/blocks/Newsletter.astro";
import Dots from "~/components/Dots.astro";
import Wibble from "~/components/ui/Wibble.astro";
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="Blog">
  <Dots />
  <section>
    <BlogHero />
    <div class="flex w-full items-center justify-center py-8 md:hidden">
      <Wibble />
    </div>
    <BlogFeed tag="all" />
  </section>
  <Newsletter />
</PageLayout>
