@import "tailwindcss";
@import "./article.css";

:root {
  height: 100%;
}

@theme {
  --font-golos-text: "Golos Text", serif;
  --font-rubik: "Rubik", serif;

  --color-*: initial;
  --color-white: #fff;
  --color-black: #1b1b1b;
  --color-page-bg: #f9fafc;

  --color-orange-100: #fff5ec;
  --color-orange-200: #ff9f43;
  --color-orange-300: #ff9732;

  --color-green-100: #ecf8f6;
  --color-green-200: #40b8a8;
  --color-green-300: #3ab1a1;

  --color-purple-100: #f8f1ff;
  --color-purple-200: #b974ff;
  --color-purple-300: #7e48f0;

  --color-blue-50: #f4f7ff;
  --color-blue-100: #ebf0fd;
  --color-blue-200: #3b65ef;
  --color-blue-300: #1156df;

  --color-gray-100: #f9fafc;
  --color-gray-200: #dde6ff;
  --color-gray-300: #627496;

  --color-red-100: #ffeff1;
  --color-red-200: #f13b4d;
  --color-red-300: #e91c30;

  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-blue: var(--color-blue-200);
  --color-green: var(--color-green-200);
  --color-orange: var(--color-orange-200);
  --color-purple: var(--color-purple-200);

  --color-body: var(--color-gray-300);
  --color-heading: var(--color-black);
  --color-highlight: var(--color-blue);
}

@layer components {
  .heading-2 {
    @apply text-center text-4xl/[42px] font-semibold text-black;
  }

  .text-1 {
    @apply text-body text-center text-lg/[24px] font-medium;
  }
}

@utility shadow-mr {
  box-shadow: 0 4px 10px rgba(98, 116, 150, 0.1);
}

@keyframes logoscroll {
  to {
    transform: translate(calc(-50% - calc(var(--scroller-gap) / 2)));
  }
}

strong {
  font-weight: 600 !important;
}