---
import { Image } from "astro:assets";
import aboutHeroImg from "~/assets/images/about-hero.png";
import Wibble from "../ui/Wibble.astro";
---

<section class="mt-8 lg:mt-24">
  <div
    class="mx-auto grid max-w-[80rem] grid-cols-1 gap-10 md:gap-12 lg:grid-cols-[668px_1fr]"
  >
    <div>
      <h1 class="text-4xl/[42px] font-semibold md:text-[42px]/[56px]">
        We help teams <strong class="font-semibold text-blue-200"
          >build better software, together.</strong
        >
      </h1>
      <p
        class="text-body mt-8 mb-[42px] text-base/6 font-medium md:text-xl/8 lg:max-w-[588px]"
      >
        Great things happen when teams are in flow and enjoy what they do. At
        Ludi, we create human-centered collaboration and continuous improvement
        tools designed for engaged, efficient, and—most importantly—fun
        teamwork. Wherever your team works, we’re here to help you thrive.
      </p>
      <Wibble />
    </div>
    <div>
      <Image src={aboutHeroImg} alt="" />
    </div>
  </div>
</section>
