---

---

<section class="px-4 py-16">
  <div
    class="mx-auto grid max-w-[80rem] grid-cols-1 gap-16 lg:grid-cols-[380px_1fr]"
  >
    <div class="space-y-6 max-lg:hidden">
      <p class="text-blue text-xl/8 font-semibold">In this post</p>

      <div class="text-body space-y-4 text-base/6 font-medium">
        <p>Display a clickable list of h2 titles from the post</p>
        <p>Display a clickable list of h2 titles from the post</p>
        <p class="text-black">
          Active title should be highlighted when h2 is currently the top
          visible h2
        </p>
        <p>Display a clickable list of h2 titles from the post</p>
        <p>Display a clickable list of h2 titles from the post</p>
      </div>
    </div>
    <div class="border-grey-200 h-[572px] border md:h-[836px]"></div>
  </div>
</section>
