---
import Pill from "../ui/Pill.astro";
---

<section class="px-4 py-16">
  <div
    class="mx-auto grid max-w-[80rem] grid-cols-1 gap-6 md:gap-12 lg:grid-cols-[min(592px,50%)_1fr] lg:gap-[74px]"
  >
    <div>
      <Pill color="purple" class="!mx-0">Post Category</Pill>
      <p class="text-body mt-6 text-base/6 font-medium md:mb-8 md:text-lg/6">
        Blog post date (month dd, yyyy)
      </p>
      <p class="my-6 text-[28px]/8 font-semibold">
        Blog post title, lorem ipsum dolor sit amet, consectetur adipiscing.
      </p>
      <p class="text-body mb-6 text-base/6 font-medium md:mb-8 md:text-lg/6">
        Blog post preview. Must be able to set this. Not just the first
        paragraph from page content.
      </p>

      <p class="text-base/6 font-medium text-blue-200">Blog post author</p>
    </div>
    <div
      class="min-h-[208px] rounded-[10px] bg-blue-100 drop-shadow-[0_4px_10px_rgba(98,116,150,0.1)] max-md:-order-1 md:min-h-[322px] md:rounded-[20px]"
    >
    </div>
  </div>
</section>
