---
interface Props {
  columns: any;
  title: string;
}

const { columns, title }: Props = Astro.props;
---

<section>
  <div class="mx-auto max-w-[80rem]">
    <h3 class="text-center text-2xl font-semibold">{title}</h3>
    <div class={`mt-8 grid gap-8 grid-cols-4`}>
      <slot />
    </div>
  </div>
</section>
