---
import Heading from "../ui/Heading.astro";
import FaqItem from "./FaqItem.astro";
//
---

<section class="relative">
  <div
    class="mx-auto max-w-[64rem] rounded-4xl border-gray-200 p-4 lg:border-1 lg:p-8"
  >
    <h2
      class="lg:bg-page-bg text-2xl font-medium font-semibold lg:absolute lg:top-0 lg:left-1/2 lg:-translate-x-1/2 lg:-translate-y-1/2 lg:px-8 lg:text-center lg:text-4xl lg:whitespace-nowrap"
    >
      Would you like to know more?
    </h2>
    <div class="mx-auto max-w-[64rem] py-8">
      <ul class="space-y-5">
        <FaqItem question="How does licensing work in Ludi?">
          <p class="mb-4">
            Ludi is priced per member. All members need a license to work on a
            board.
          </p>
          <p class="mb-4">
            As an example, a team of 10 people needs 10 licenses = $40 per month
            on the Starter plan, when billed annually.
          </p>
          <p class="mb-4">Guest collaborators do not require a license.</p>
        </FaqItem>
        <FaqItem question="Can I use Ludi for free?">
          <p class="mb-4">Yes, you get a 30 day free trial when you signup.</p>
          <p class="mb-4">
            When your trial ends, you will need to pick a plan to continue using
            Ludi.
          </p>
          <p class="mb-4">
            If your trial has ended but you need more time, talk to us to extend
            your trial.
          </p>
        </FaqItem>
        <FaqItem question="What happens when my free trial ends?">
          <p class="mb-4">
            When your free trial ends, your team account is placed into a paused
            state. You do not lose any boards or data, and can still view your
            boards in a read-only view. You can choose to upgrade your account
            in your own time, or choose to delete it.
          </p>
          <p>
            If you need to extend your trial or want to talk to someone, contact
            us.
          </p>
        </FaqItem>
        <FaqItem question="What is a Team in Ludi?">
          <p class="mb-4">
            A Team in Ludi is a group of members (paid users) who share access
            to the same boards.
            <ul>
              <li>Each member in a Team needs their own paid user.</li>
              <li>
                Teams are how you organise people who regularly collaborate
                together.
              </li>
              <li>Boards belong to a Team, not to an individual user.</li>
            </ul>
          </p>
          <p>
            You can have one Team space on the Starter plan, and unlimited Team
            spaces on the Business or Enterprise plan.
          </p>
        </FaqItem>
        <FaqItem question="What is a Member?">
          <p>
            A member is someone that has joined your team and can collaborate on
            your boards. Members must register to collaborate. Members have
            access to the team dashboard.
          </p>
        </FaqItem>
        <FaqItem question="How many Members can I have on a Team?">
          <p>You can have any number of members per team.</p>
        </FaqItem>
        <FaqItem question="Can I have more than one Team on the Starter plan?">
          <p class="mb-4">The Starter plan includes one team space.</p>
          <p>
            If you wish to have multiple teams in the same organization, you
            must choose the Business plan.
          </p>
        </FaqItem>
        <FaqItem question="How many people can collaborate on a board with me?">
          <p class="mb-4">
            All your licensed members can collaborate on the same board
            together.
          </p>
          <p>
            In addition, the Business plan allows two external guests per board,
            and the Enterprise plan allows up to 20 external guests per board.
          </p>
        </FaqItem>
        <FaqItem question="Can I collaborate with people outside my Team?">
          <p class="mb-4">
            Teams on the Business or Enterprise plans can invite external
            collaborators to their boards as guests. Just copy the Guest Invite
            link in the board Share menu, and your external collaborators can
            join your board. They will only have access to the board shared with
            them, and will not have access to the rest of the Team space.
          </p>
        </FaqItem>
        <FaqItem question="What is a Guest?">
          <p>
            A Guest is a collaborator that is not a Team Member. They do not
            require a license. A guest can be invited to individual boards. They
            do not have access to the team space.
          </p>
        </FaqItem>
        <FaqItem question="What is the difference between Members and Guests?">
          <p class="mb-4">
            Members use a license, so have full use of the tool such as access
            to their team space and boards, using integrations, creating boards,
            running meetings, tracking actions. Members have a user profile.
          </p>
          <p>
            On the other hand, a Guest is a temporary role with limited
            functionality that is used by anyone outside the organization to
            collaborate on a single board. Members use a billed seat, while
            guests do not.
          </p>
        </FaqItem>
        <FaqItem question="How can I pay?">
          <p class="mb-4">
            You can start a subscription with a payment card inside your team
            space.
          </p>
          <p>
            Invoice billing is available for annual plans (20 seat minimum). Get
            in touch for invoice billing.
          </p>
        </FaqItem>
        <FaqItem question="Can I change my plan?">
          <p class="mb-4">
            Please contact us to change your plan type or billing period.
          </p>
          <p>
            If you add or remove members your subscription will update pro-rata.
          </p>
        </FaqItem>
        <FaqItem question="Can I cancel my plan?">
          <p>
            Yes you can cancel your plan at any point. Your Team space(s) will
            continue on the paid plan until the end of the current billing
            period. Annual plans can cancel with a full refund within the first
            30 days.
          </p>
        </FaqItem>
        <FaqItem question="Can I talk to someone?">
          <p>
            Please use the live support chat to talk directly to us, or email at <a
              href="mailto:sales@ludi.co"
              class="text-blue-200 hover:underline">sales@ludi.co</a
            > with your question, name, email, role and organization.
          </p>
        </FaqItem>
      </ul>
    </div>
  </div>
</section>

<script>
  const faqs = [...document.querySelectorAll(".faq-2")] as HTMLDivElement[];

  function setFAQ(
    faq?: HTMLDivElement | null,
    expanded: "true" | "false" = "false",
  ) {
    if (!faq) return;
    faq.setAttribute("aria-expanded", expanded);
    faq
      .querySelector("[data-expanded]")
      ?.setAttribute("data-expanded", expanded);
  }

  faqs.forEach((faq) => {
    const toggle = faq.querySelector("button") as HTMLButtonElement;

    toggle.addEventListener("click", () => {
      const IS_EXPANDED = faq.getAttribute("aria-expanded") === "true";

      faqs.forEach((faq) => setFAQ(faq, "false"));
      setFAQ(faq, `${!IS_EXPANDED}`);
    });
  });
</script>
