---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<li class="faq-2 group/faq" aria-expanded="false">
  <div class="">
    <button
      type="button"
      class="text-body relative flex w-full cursor-pointer items-start justify-between gap-4 py-3 pl-7 text-left text-xl font-medium"
    >
      <span class="absolute top-1/2 left-0 -translate-y-1/2">
        <svg
          class="plus"
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 1V13"
            stroke="#3B65EF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M13 7L1 7"
            stroke="#3B65EF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>

        <svg
          class="minus"
          width="14"
          height="2"
          viewBox="0 0 14 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 1L1 0.999999"
            stroke="#3B65EF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </span>

      <span>{question}</span>
    </button>

    <div
      data-expanded="false"
      class="grid grid-rows-[0fr] border-b border-transparent transition-[grid-template-rows] duration-300 data-[expanded=false]:border-blue-100 data-[expanded=true]:grid-rows-[1fr]"
    >
      <div class="overflow-hidden">
        <div class="">
          <div class="text-l px-6 py-3 font-medium text-black">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</li>

<style>
  .faq-2[aria-expanded="false"] .minus,
  .faq-2[aria-expanded="true"] .plus {
    display: none;
  }
</style>
