---
import Heading from "../ui/Heading.astro";

const resources: {
  title: string;
  category: "blog" | "guide";
  link: string;
  target?: string;
}[] = [
  {
    title: "How to run your first session",
    category: "guide",
    link: "https://docs.metroretro.io/getting-started/running-your-first-session",
    target: "_blank",
  },
  {
    title: "Learn the Metro Retro basics",
    category: "blog",
    link: "https://docs.metroretro.io/getting-started/learn-the-basics",
    target: "_blank",
  },
  {
    title: "How to work with Templates",
    category: "guide",
    link: "https://docs.metroretro.io/templates/templates-overview",
    target: "_blank",
  },
  {
    title: "How to run a Retrospective",
    category: "guide",
    link: "/blog/sprint-retrospective-agenda",
  },
];
---

<section>
  <div class="mx-auto max-w-[1090px]">
    <Heading class="!text-left">Not sure where to start?</Heading>

    <div
      class="my-6 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 lg:grid-cols-4"
    >
      {
        resources.map((resource) => (
          <a href={resource.link} target={resource.target}>
            <div
              class:list={[
                "flex aspect-[2] flex-col justify-between rounded-xl border-2 border-blue-100 p-6 text-black transition-colors md:aspect-square",
                resource.category === "blog" &&
                  "hover:border-blue hover:text-blue",
                resource.category === "guide" &&
                  "hover:border-purple hover:text-purple",
              ]}
            >
              <p class="text-[28px]/8 font-semibold">{resource.title}</p>
              <span
                class:list={[
                  "w-max rounded-[50px] border px-6 py-2 text-base/[1] font-semibold capitalize",
                  resource.category === "blog" &&
                    "border-blue text-blue bg-blue-100",
                  resource.category === "guide" &&
                    "border-purple text-purple bg-purple-100",
                ]}
              >
                {resource.category}
              </span>
            </div>
          </a>
        ))
      }
    </div>
    <p class="text-body [&_a]:text-blue text-lg/6 font-medium [&_a]:underline">
      For more Metro Retro guides, take a look at our <a
        target="_blank"
        href="https://docs.metroretro.io">Help Docs</a
      >. For general collaboration tips, agile practice guides and our opinions
      check out <a href="/blog">our blog</a>, it’s really great, we promise.
    </p>
  </div>
</section>
