---
import SignUpButtons from "./SignUpButtons.astro";
import IconText from "~/components/ui/IconText.astro";
import Pill from "~/components/ui/Pill.astro";
interface Props {
  pill: string;
  title: string;
  description: string;
  compact?: boolean;
}

const { pill, title, description, compact }: Props = Astro.props;
---

<section class="mt-8 lg:mt-16">
  <Pill class="hidden sm:block" color="blue"><h1>{pill}</h1></Pill>
  <h2
    class="mx-auto mt-6 max-w-[52rem] text-center text-4xl font-bold text-pretty text-black md:text-6xl/16"
  >
    {title}
  </h2>
  <p
    class="text-body mx-auto mt-6 max-w-[52rem] text-center font-medium max-md:px-4 md:mt-8 md:text-xl/8"
  >
    {description}
  </p>
  {!compact && <>
  <SignUpButtons />
  <div
    class="mt-6 flex flex-wrap items-center justify-center gap-4 px-4 md:gap-7"
  >
    <IconText text="30-day free trial" />
    <IconText text="No card required" />
    <span
      data-confett
      class="cursor-pointer underline decoration-gray-200 decoration-wavy decoration-2 underline-offset-4 hover:decoration-green-200"
    >
      <IconText text="Endless confetti" />
    </span>
  </div>
  <script>
    document.querySelectorAll("[data-confett]").forEach((elmt) => {
      elmt.addEventListener("click", () => {
        var end = Date.now() + 5 * 1000;

        (function frame() {
          var now = Date.now();

          // Small window to ensure we don't miss frames
          confetti({
            particleCount: 5,
            angle: 60,
            spread: 55,
            origin: { x: 0 },
          });
          confetti({
            particleCount: 5,
            angle: 120,
            spread: 55,
            origin: { x: 1 },
          });

          if (now < end) {
            requestAnimationFrame(frame);
          }
        })();
      });
    });
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"
  ></script>
  </>}
</section>
