---
import LinkButton from "../ui/LinkButton.astro";
---

<section class="px-4 py-16 md:py-32">
  <div
    class="mx-auto flex max-w-[1236px] flex-col rounded-[20px] bg-purple-100 p-6 md:flex-row md:items-center md:justify-between md:p-12"
  >
    <div class="space-y-6 max-md:mb-6 md:max-w-[890px]">
      <div
        class="flex items-center gap-4 text-[28px]/8 font-semibold md:text-4xl/[42px]"
      >
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36 18C36 27.941 27.941 36 18 36C8.059 36 0 27.941 0 18C0 8.059 8.059 0 18 0C27.941 0 36 8.059 36 18Z"
            fill="#FFCC4D"></path>
          <path
            d="M18 21C14.377 21 11.973 20.578 9 20C8.321 19.869 7 20 7 22C7 26 11.595 31 18 31C24.404 31 29 26 29 22C29 20 27.679 19.868 27 20C24.027 20.578 21.623 21 18 21Z"
            fill="#664500"></path>
          <path
            d="M9 22C9 22 12 23 18 23C24 23 27 22 27 22C27 22 25 26 18 26C11 26 9 22 9 22Z"
            fill="white"></path>
          <path
            d="M15.6828 4.41303L11.1408 5.21403L8.80075 0.961029C8.54275 0.492029 8.01275 0.241029 7.48875 0.333029C6.96175 0.426029 6.55175 0.844029 6.46975 1.37203L5.72475 6.16903L1.18275 6.97003C0.647751 7.06403 0.234751 7.49503 0.161751 8.03403C0.0887506 8.57303 0.372751 9.09703 0.864751 9.33103L4.93475 11.263L4.18675 16.075C4.10375 16.611 4.37575 17.139 4.85975 17.384C5.03875 17.474 5.23075 17.517 5.42175 17.517C5.74875 17.517 6.07175 17.389 6.31275 17.145L9.82475 13.584L14.3428 15.729C14.8328 15.961 15.4168 15.852 15.7888 15.457C16.1608 15.062 16.2348 14.473 15.9738 13.998L13.6258 9.73003L16.7908 6.52203C17.1728 6.13503 17.2598 5.54503 17.0078 5.06303C16.7538 4.58103 16.2148 4.32003 15.6828 4.41303ZM20.3188 4.41303L24.8608 5.21403L27.2008 0.961029C27.4588 0.492029 27.9888 0.241029 28.5128 0.333029C29.0387 0.426029 29.4488 0.844029 29.5308 1.37203L30.2758 6.16903L34.8178 6.97003C35.3538 7.06403 35.7668 7.49403 35.8388 8.03303C35.9108 8.57203 35.6278 9.09603 35.1357 9.33003L31.0658 11.262L31.8138 16.074C31.8968 16.61 31.6248 17.138 31.1408 17.383C30.9618 17.473 30.7698 17.516 30.5788 17.516C30.2518 17.516 29.9288 17.388 29.6878 17.144L26.1758 13.583L21.6578 15.728C21.1678 15.96 20.5838 15.851 20.2118 15.456C19.8398 15.061 19.7658 14.472 20.0268 13.997L22.3748 9.73003L19.2098 6.52203C18.8278 6.13503 18.7408 5.54503 18.9928 5.06303C19.2478 4.58103 19.7868 4.32003 20.3188 4.41303Z"
            fill="#E95F28"></path>
        </svg>
        <span>Stay up to date</span><svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M17 36C26.3888 36 34 28.3888 34 19C34 9.61116 26.3888 2 17 2C7.61116 2 0 9.61116 0 19C0 28.3888 7.61116 36 17 36Z"
            fill="#FFCC4D"></path>
          <path
            d="M17.998 28.5C19.1026 28.5 19.998 27.3807 19.998 26C19.998 24.6193 19.1026 23.5 17.998 23.5C16.8935 23.5 15.998 24.6193 15.998 26C15.998 27.3807 16.8935 28.5 17.998 28.5Z"
            fill="#664500"></path>
          <path
            d="M8.11014 21.3829C7.92814 21.3829 7.74314 21.3329 7.57814 21.2289C7.11114 20.9349 6.97114 20.3179 7.26514 19.8499C8.18114 18.3969 10.9661 15.9119 14.9551 16.8879C15.4911 17.0189 15.8191 17.5609 15.6881 18.0969C15.5561 18.6329 15.0121 18.9589 14.4791 18.8299C10.8751 17.9479 8.97714 20.8859 8.95814 20.9159C8.76714 21.2179 8.44214 21.3829 8.11014 21.3829ZM20.0831 17.6409C19.7931 17.6409 19.5071 17.5159 19.3091 17.2749C18.9591 16.8479 19.0211 16.2169 19.4491 15.8669C22.6251 13.2629 26.2111 14.3049 27.6641 15.2209C28.1311 15.5149 28.2711 16.1329 27.9761 16.5999C27.6831 17.0649 27.0681 17.2069 26.6001 16.9149C26.4621 16.8309 23.5481 15.0919 20.7161 17.4139C20.5301 17.5669 20.3061 17.6409 20.0831 17.6409Z"
            fill="#664500"></path>
          <path
            d="M13.3468 31.273C13.2788 31.273 13.2098 31.264 13.1418 31.245C12.7438 31.132 12.5118 30.718 12.6248 30.319C13.0618 28.779 12.8828 27.29 12.1348 26.233C11.6378 25.531 10.9298 25.102 10.1918 25.055C9.77779 25.03 9.46379 24.673 9.48979 24.26C9.51579 23.847 9.87079 23.509 10.2848 23.559C11.4778 23.633 12.5978 24.292 13.3578 25.366C14.3688 26.795 14.6278 28.749 14.0668 30.727C13.9738 31.058 13.6728 31.273 13.3468 31.273ZM24.3838 28.212C24.2418 28.212 24.0988 28.172 23.9718 28.088C22.8048 27.318 22.1518 25.971 22.1798 24.393C22.2088 22.758 22.9888 21.24 24.1638 20.524C24.5168 20.308 24.9778 20.42 25.1938 20.775C25.4098 21.129 25.2978 21.589 24.9428 21.805C24.2078 22.253 23.6988 23.304 23.6788 24.419C23.6588 25.474 24.0678 26.355 24.7968 26.836C25.1428 27.064 25.2378 27.529 25.0098 27.875C24.8658 28.094 24.6278 28.212 24.3838 28.212Z"
            fill="#E2A62D"></path>
          <path
            d="M17.1781 2.71997C17.1351 2.67097 17.0681 2.64397 16.9891 2.62897C16.9891 2.62897 1.06515 -0.394027 0.376146 0.213973C-0.311854 0.822973 0.739146 16.998 0.739146 16.998C0.744146 17.079 0.762146 17.148 0.806146 17.197C1.41015 17.881 5.56415 15.193 10.0851 11.196C14.6071 7.19797 17.7821 3.40397 17.1781 2.71997Z"
            fill="#DD2E44"></path>
          <path
            d="M0.348547 0.271003C0.333547 0.301003 0.320547 0.342003 0.310547 0.394003C0.469547 1.765 2.00555 13.046 2.96255 16.572C4.39855 15.769 5.85755 14.678 7.57155 13.319C6.11555 10.654 1.15755 0.146003 0.348547 0.271003Z"
            fill="#EA596E"></path>
          <path
            d="M29.9023 29.229L19.3293 27.926C18.1993 27.824 16.2123 27.814 16.3143 26.024C16.4073 24.401 18.3543 24.651 19.7933 24.864L30.4313 26.638L29.9023 29.229Z"
            fill="#3B88C3"></path>
          <path
            d="M30.4297 26.639L26.2077 25.915C25.7137 25.826 25.2737 26.562 25.2517 27.341C25.2267 28.207 25.4787 28.645 25.9777 28.747L30.1217 29.259L30.4297 26.639Z"
            fill="#88C9F9"></path>
          <path
            d="M34.9184 26.341L32.2964 28.752L27.6094 23.655L30.2314 21.244C31.5924 19.992 33.7304 20.082 34.9824 21.443L35.1174 21.59C36.3684 22.952 36.2794 25.089 34.9184 26.341Z"
            fill="#3B88C3"></path>
          <path
            d="M32.2939 28.7534C33.42 27.7179 33.2839 25.7376 31.9897 24.3301C30.6956 22.9226 28.7336 22.621 27.6074 23.6564C26.4813 24.6919 26.6175 26.6722 27.9116 28.0797C29.2057 29.4872 31.1677 29.7888 32.2939 28.7534Z"
            fill="#88C9F9"></path>
          <path
            d="M31.3565 27.7339C31.9196 27.2162 31.7467 26.1119 30.9703 25.2675C30.1939 24.4231 29.108 24.1583 28.5449 24.676C27.9819 25.1937 28.1548 26.2979 28.9312 27.1424C29.7076 27.9868 30.7934 28.2516 31.3565 27.7339Z"
            fill="#226699"></path>
          <path
            d="M2.5 35C3.32843 35 4 34.3284 4 33.5C4 32.6716 3.32843 32 2.5 32C1.67157 32 1 32.6716 1 33.5C1 34.3284 1.67157 35 2.5 35Z"
            fill="#55ACEE"></path>
          <path
            d="M29 4C30.1046 4 31 3.10457 31 2C31 0.89543 30.1046 0 29 0C27.8954 0 27 0.89543 27 2C27 3.10457 27.8954 4 29 4Z"
            fill="#55ACEE"></path>
          <path
            d="M4.86411 29.246L2.52611 23.63L0.412109 29.675L4.86411 29.246ZM26.0001 5L22.0001 6L23.0001 2L26.0001 5Z"
            fill="#EA596E"></path>
          <path d="M31.998 13L35.999 7.999L32.999 6L31.998 13Z" fill="#77B255"
          ></path>
        </svg>
      </div>
      <p class="text-body text-xl/8 font-medium">
        Sign up for our monthly newsletter full of guides, industry news and
        Metro Retro product updates
      </p>
    </div>

    <div>
      <LinkButton href={"#sub"} color="purple">Subscribe</LinkButton>
    </div>
  </div>
</section>
