---
import Heading from "~/components/ui/Heading.astro";
import Pill from "~/components/ui/Pill.astro";
import Subheading from "~/components/ui/Subheading.astro";

const roles = [
  "Scrum Masters",
  "Engineers",
  "Agile Coaches",
  "Delivery Managers",
  "Product Owners",
  "Product Designers",
  "Engineering Managers",
  "Consultants",
];
---

<section class="px-4 py-16">
  <Pill color="orange">Built for everyone</Pill>

  <Heading class="my-6">A space for the whole team</Heading>
  <Subheading class="mb-8">
    Flexible and easy to use, Metro Retro is a freeform space which allows you
    to create and develop ideas, collaboratively and individually
  </Subheading>

  <p class="text-body text-center text-base/5 font-medium">
    See how Metro Retro works for...
  </p>

  <div
    class="mx-auto mt-6 flex max-w-[1262px] flex-col justify-center gap-3 md:flex-row md:flex-wrap"
  >
    {
      roles.map((role) => (
        <span class="border-grey-200 hover:text-orange hover:border-orange rounded-[100px] border px-12 py-4 text-center text-[28px]/[42px] font-semibold text-black transition-colors hover:bg-orange-100 md:py-6 md:text-4xl/[42px]">
          {role}
        </span>
      ))
    }
  </div>
</section>
