---
import Heading from "~/components/ui/Heading.astro";
import Pill from "~/components/ui/Pill.astro";
import Subheading from "~/components/ui/Subheading.astro";

const roles = [
  { name: "Scrum Masters", url: "/solutions/scrum-masters" },
  { name: "Developers", url: "/solutions/developers" },
  { name: "Product Owners", url: "/solutions/product-owners" },
  { name: "Engineering Managers", url: "/solutions/engineering-managers" },
  { name: "Agile Coaches", url: "/solutions/agile-coaches" },
  { name: "Delivery Managers", url: "/solutions/delivery-managers" },
  { name: "Product Designers", url: "/solutions/product-designers" },
];
---

<section>
  <Pill color="orange">Built for everyone</Pill>

  <Heading class="my-6">A space for the whole team</Heading>
  <Subheading class="mb-8">
    Flexible and easy to use, Metro Retro is a freeform space which allows you
    to create and develop ideas, collaboratively and individually
  </Subheading>

  <p class="text-body text-center text-base/5 font-medium">
    See how Metro Retro works for...
  </p>

  <div
    class="mx-auto mt-6 flex max-w-[1262px] flex-col justify-center gap-3 md:flex-row md:flex-wrap"
  >
    {
      roles.map((role) => (
        <a
          href={role.url}
          class="hover:text-orange hover:border-orange rounded-[100px] border border-gray-200 px-12 py-4 text-center text-[28px]/[42px] font-semibold text-black hover:bg-orange-100 md:py-6 md:text-4xl/[42px]"
        >
          {role.name}
        </a>
      ))
    }
  </div>
</section>
