---
import { Image } from "astro:assets";

interface Props {
  quoteText: string;
  photo: ImageMetadata;
  name: string;
  occupation: string;
}
const { quoteText, photo, name, occupation } = Astro.props;
---

<blockquote
  class="mx-auto max-w-[80rem] rounded-2xl bg-blue-100 px-12 py-6 text-gray-300"
>
  <p class="text-lg font-medium md:text-2xl">
    &ldquo;{quoteText}&rdquo;
  </p>
  <footer class="mt-6 flex items-center gap-4">
    <Image class="h-16 w-16 rounded-full" src={photo} alt={""} />
    <div>
      <p class="text-lg/6 font-medium">{name}</p>
      <p class="md:text-md/6 text-base/6 font-medium opacity-70">
        {occupation}
      </p>
    </div>
  </footer>
</blockquote>
