---
import LinkButton from "../ui/LinkButton.astro";
---

<section class="bg-black px-4 py-16 text-white md:py-[74px]">
  <div
    class="mx-auto grid grid-cols-1 gap-12 md:grid-cols-[548px_1fr] md:gap-[188px] lg:max-w-[1080px]"
  >
    <div>
      <p class="text-[42px]/[56px] font-semibold">
        Ready to experience the best collaboration tool for your team?
      </p>
    </div>
    <div class="space-y-6">
      <LinkButton size="large">Sign up for free</LinkButton>
      <p class="text-lg/6 font-semibold">
        Interested in Metro Retro for your organization? <a href="#book-a-demo"
          ><strong>Book a demo</strong></a
        >.
      </p>
    </div>
  </div>
</section>
