---
const { title } = Astro.props;
---

<section class="py-8">
  <div
    class="mx-auto mt-16 max-w-[1280px] px-8"
  >
      <h2 class="mb-4 text-3xl font-bold text-black text-center">
        {title}
      </h2>
  </div>
</section>
