---
interface Props {
  columns: "2" | "3" | "4";
}

const columns = `${Astro.props.columns || 3}`;
---

<section>
  <div
    class={`mx-auto grid max-w-[80rem] gap-8 lg:gap-16 px-8 grid-cols-1 lg:grid-cols-${columns} `}
  >
    <slot />
  </div>
</section>
