---
const { title, description, image } = Astro.props;
---

<div class="">
  <img class="mb-4 block rounded-[20px] object-cover shadow" src={image} />
  <div class="p-4">
    <h3 class="mb-4 text-2xl font-bold text-black">
      {title}
    </h3>
    <p class="mb-4 text-xl text-black">
      {description}
    </p>
  </div>
</div>
