---
const { emoji } = Astro.props;
const { title } = Astro.props;
---

<section class="py-8">
  <div
    class="mx-auto mt-8 mb-8 flex max-w-[1280px] flex-row items-center justify-center px-8"
  >
    <span class="mx-4 flex items-center text-2xl">{emoji}</span>
    <h2
      class="max-w-[1080px] bg-gradient-to-r from-green-300 via-purple-300 to-red-300 bg-clip-text text-center text-4xl font-semibold text-pretty text-transparent"
    >
      {title}
    </h2>
  </div>
</section>
