---
const { emoji } = Astro.props;

const { title } = Astro.props;
---

<section>
  <div
    class="mx-auto flex max-w-[68rem] flex-row items-center justify-center px-8"
  >
    <span class="flex items-center text-2xl">{emoji}</span>
    <h2
      class="bg-gradient-to-r from-green-300 via-purple-300 to-red-300 bg-clip-text text-center text-4xl font-semibold text-pretty text-transparent"
    >
      {title}
    </h2>
  </div>
</section>
