---
const { title, description, image, mirror } = Astro.props;

import { Image } from "astro:assets";
import { dynamicImportImage } from "~/utils";
const loadedImage = await dynamicImportImage(image);
---

<section>
  <div
    class:list={[
      "mx-auto grid max-w-[80rem] grid-cols-1 items-center gap-4 px-8 lg:gap-24",
      "lg:grid-cols-[1fr_auto]",
    ]}
  >
    <div
      class:list={[
        "order-0",
        mirror === "false" ? "lg:order-last" : "lg:order-first",
      ]}
    >
      <h3 class="mb-4 text-3xl font-semibold text-black">
        {title}
      </h3>
      <p class="mb-4 text-gray-300">
        {description}
      </p>
    </div>
    <Image
      class="h-full rounded-2xl border-1 border-solid border-blue-200/15 object-cover shadow-xl shadow-blue-200/10 lg:max-w-[30rem] xl:max-w-[40rem]"
      class:list={[mirror === "false" ? "lg:order-first" : "lg:order-last"]}
      src={loadedImage}
      alt={title}
    />
  </div>
</section>
