---
interface Props {
  href: string;
  title: string;
  image: string;
}

const { href, title, image }: Props = Astro.props;

import { Image } from "astro:assets";
import { dynamicImportImage } from "~/utils";
const importedImage = await dynamicImportImage(image);
---

<a
  href={href}
  class="block rounded-xl border-1 border-gray-200/75 hover:border-1 hover:border-solid hover:border-blue-200/15 hover:shadow-xl hover:shadow-blue-200/10"
>
  <div class="flex h-full flex-col justify-between p-6">
    <h4 class="max-w-[70%] text-2xl font-medium text-black">
      {title}
    </h4>
    <Image
      class="mt-4 rounded-xl border-1 border-solid border-blue-200/15"
      src={importedImage}
      alt={title}
    />
  </div>
</a>
