---
import SignUpButtons from "./SignUpButtons.astro";
import IconText from "~/components/ui/IconText.astro";
import Pill from "~/components/ui/Pill.astro";
interface Props {
  pill: string;
  title: string;
  description: string;
}

const { pill, title, description }: Props = Astro.props;
---

<section class="relative z-[1] py-8 md:py-14">
  <Pill class="hidden sm:block" color="blue"><h1>{pill}</h1></Pill>
  <h2
    class="mx-auto mt-6 max-w-[56rem] text-center text-4xl font-bold text-pretty text-black md:text-6xl/16"
  >
    {title}
  </h2>
  <p
    class="text-body mx-auto mt-6 max-w-[56rem] text-center font-medium max-md:px-4 md:mt-8 md:text-xl/8"
  >
    {description}
  </p>
  <SignUpButtons />
  <div
    class="mt-6 flex flex-wrap items-center justify-center gap-4 px-4 md:gap-7"
  >
    <IconText text="30-day free trial" />
    <IconText text="No card required" />
    <IconText text="All the good shit" />
  </div>
</section>
