---
const { title } = Astro.props;
---

<section class="py-8">
  <div class="mx-auto mt-8 mb-8 max-w-[1280px] px-8">
    <h2 class="mb-4 text-center text-2xl font-semibold text-black">
      {title}
    </h2>
  </div>
</section>
