---
const { title, description, image } = Astro.props;

import { Image } from "astro:assets";
import { dynamicImportImage } from "~/utils";
const loadedImage = await dynamicImportImage(image);
---

<div class="">
  <Image
    class="shadow-mr mb-4 block max-w-full rounded-2xl border-1 border-solid border-blue-200/15 object-cover"
    src={loadedImage}
    alt={title}
  />
  <div class="p-4">
    <h3 class="mb-4 text-2xl font-semibold text-black">
      {title}
    </h3>
    <p class="text-l mb-4 text-gray-300">
      {description}
    </p>
  </div>
</div>
