---

---

<p class="text-center text-xl/6 font-medium text-black md:text-4xl/[42px]">
  More than <strong class="text-blue font-bold">250,000</strong> agile teams, coaches,
  engineers, product owners and designers have enjoyed over <strong
    class="text-blue font-bold">2 million</strong
  > meetings in Metro Retro
</p>
