---
type Props = {
  text: string;
};
const { text } = Astro.props;

const formatted = text.replace(/\*([^*]+?)\*/g, (match, content) => {
  return `<strong class="text-blue font-bold">${content}</strong>`;
});
---

<div class="mx-auto max-w-[64rem]">
  <p
    class="text-center text-3xl font-semibold text-black md:text-4xl/[42px]"
    set:html={formatted}
  />
</div>
