---
import { Image } from "astro:assets";
import LinkButton from "../ui/LinkButton.astro";
import featurePlaceholder from "~/assets/images/feature-placeholder.png";
---

<section class="px-4 py-16">
  <div
    class="mx-auto grid max-w-[1080px] grid-cols-1 gap-6 rounded-[20px] bg-blue-100 px-4 py-6 md:grid-cols-[486px_1fr] md:gap-12 md:p-12"
  >
    <div class="max-md:order-2 md:pt-6">
      <p class="mb-6 text-4xl/[42px] font-semibold">
        There's a Template for that
      </p>
      <p class="text-body mb-[37px] text-lg/6 font-medium">
        Choose from 100+ expertly crafted, fully customisable templates. <br
        /><br />Crafted to make your everyday workflows more efficient so you
        can focus on your work, not the prep.
      </p>
      <LinkButton>More about Metro Retro Templates</LinkButton>
    </div>
    <div
      class="relative flex h-[309px] items-center justify-center max-md:order-1 md:h-[390px]"
    >
      <Image
        class="h-auto w-full max-w-[240px]"
        src={featurePlaceholder}
        alt="Template preview"
      />
    </div>
  </div>
</section>
