---
interface Props {
  templateId: string;
  fallbackSrc?: string;
}

const { templateId, fallbackSrc } = Astro.props;
---

<section>
  <div
    class="shadow-mr relative mx-auto max-w-[80rem] overflow-hidden rounded-4xl border-1 border-blue-200/15"
  >
    <div class="">
      <div
        data-on-activate
        class="absolute inset-0 hidden cursor-pointer opacity-0 hover:opacity-100 xl:block"
      >
        <div
          class="absolute top-1/2 left-1/2 z-10 flex -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-xl bg-blue-200/50 p-4 text-center text-2xl font-semibold text-white"
        >
          Click to activate
        </div>
      </div>
      {
        fallbackSrc && (
          <img
            data-preview={templateId}
            src={fallbackSrc}
            alt="Template Preview"
            class="w-full object-cover"
          />
        )
      }
    </div>
  </div>
  <script>
    const onActivate = document.querySelector("[data-on-activate]");

    const preview = document.querySelector("[data-preview]");

    const templateId = (preview as HTMLElement)?.dataset.preview;

    const createFrame = () => {
      const iframe = document.createElement("iframe");

      iframe.id = "metret-iframe";
      iframe.src = `https://metroretro.io/TP/${templateId}?ui=0&camera=auto`;
      iframe.frameBorder = "0";
      iframe.scrolling = "no";
      iframe.width = "100%";
      iframe.height = "950px";

      return iframe;
    };

    if (onActivate) {
      onActivate.addEventListener("click", () => {
        // Remove self
        onActivate.remove();
        preview?.replaceWith(createFrame());
      });
    }
  </script>
</section>
