<div class="mx-auto max-w-[80rem] px-4 py-16">
  <h1 class="text-center text-4xl font-semibold text-black">Ludi Templates</h1>
  <p class="text-body mx-auto mt-6 max-w-[50rem] text-center text-lg">
    Start a board instantly with one of our templates. Templates are fully
    customizable and come with instructions, sticky notes, categories and fun
    collaboration tools.
  </p>
</div>
