---
import { Image } from "astro:assets";
import LinkButton from "../ui/LinkButton.astro";
import featurePlaceholder from "~/assets/images/product-features/templates-block.png";
---

<section>
  <div
    class="mx-auto grid max-w-[64rem] grid-cols-1 gap-6 rounded-2xl bg-blue-100 p-8 md:grid-cols-[55%_1fr] md:gap-12 md:p-12"
  >
    <div class="space-y-8 max-md:order-2 md:pt-6">
      <h4 class="mb-6 text-4xl font-semibold">There's a Template for that</h4>
      <p class="text-body mb-4 text-lg font-medium">
        Choose from 100+ expertly crafted, fully customisable, mind expanding
        templates.
      </p>
      <p class="text-body text-lg font-medium">
        Created to make your everyday workflows more efficient so you can focus
        on your work, not the prep.
      </p>
      <LinkButton href="/templates">More about Metro Retro Templates</LinkButton
      >
    </div>
    <div class="">
      <Image
        class="h-auto w-full"
        src={featurePlaceholder}
        alt="Template preview"
      />
    </div>
  </div>
</section>
