---
import BlogFeed from "~/components/blocks/BlogFeed.astro";
import Newsletter from "~/components/blocks/Newsletter.astro";
import Statement from "~/components/blocks/Statement.astro";
import TemplateCard from "~/components/blocks/TemplateCard.astro";
import Dots from "~/components/Dots.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import keyBy from "lodash/keyBy";
import { getCollection } from "astro:content";
import { tint } from "polished";
type Props = {
  active: string;
};

const { active } = Astro.props;

const templates = await getCollection("templates");

const all = {
  href: "/templates",
  color: "#3b65ef",
  label: "All Templates",
  name: "all",
};

const tags = Object.values(
  keyBy(
    templates.flatMap((tmpl: any) => tmpl.data.tags),
    "name",
  ),
)
  .sort((a, b) => a.sort - b.sort)
  .map((t) => ({ ...t, href: `/templates/${t.name}` }));
---

<section class="mx-auto -mt-16 max-w-[56rem] px-4 py-16">
  <div class="flex flex-wrap justify-center gap-2">
    {
      [all, ...tags].map((t: any) => (
        <a href={t.name === active ? "/templates" : t.href}>
          <div
            class:list={[
              "font-text-gray-300 rounded-lg border-2 border-gray-200 px-4 py-2",
              t.name === active ? "text-black" : "text-gray-300",
            ]}
            style={{
              backgroundColor: t.name === active ? tint(0.9, t.color) : "",
              borderColor: t.name === active ? t.color : "",
              color: t.name === active ? t.color : "",
              fontWeight: t.name === active ? "500" : "normal",
            }}
          >
            {t.label}
          </div>
        </a>
      ))
    }
  </div>
</section>
