---

---

<div class="space-y-6 md:space-y-8">
  <h1 class="text-center text-4xl/[42px] font-semibold md:text-[4rem]/[72px]">
    Simple Pricing, Amazing Meetings
  </h1>
  <p
    class="text-body mx-auto max-w-[894px] text-center text-base/6 font-medium md:text-xl/8"
  >
    Stop worrying about the cost of collaboration! <br />
    With our flexible range of pricing options, there are no barriers to running
    amazing meetings.
  </p>
</div>
