---
import Pill from "../ui/Pill.astro";
---

<section class="space-y-6 px-4 py-16">
  <Pill color="blue">Our aims in everything we do</Pill>

  <div class="mx-auto max-w-[1236px] space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-[624px_1fr]">
      <div class="bg-green-100 p-6">
        <p class="text-[42px]/12 font-semibold text-green-200">
          People-first <br />
          collaboration
        </p>
      </div>
      <div class="p-4 md:py-6">
        <p class="text-grey-300 text-lg/6 font-medium">
          We help teams see the bigger picture by combining actionable insights
          with a focus on meaningful interactions. Inspired by Agile principles,
          we prioritize collaboration, trust, and alignment over rigid
          processes, ensuring every voice is heard and valued.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-[624px_1fr]">
      <div class="bg-orange-100 p-6">
        <p class="text-[42px]/12 font-semibold text-orange-200">
          Continuous <br />
          improvement
        </p>
      </div>
      <div class="p-4 md:py-6">
        <p class="text-grey-300 text-lg/6 font-medium">
          Continuous improvement is at the heart of everything we do. Our
          intuitive, enjoyable tools create seamless feedback loops, helping
          teams iterate, evolve, and solve complex challenges—quickly and
          effectively, without steep learning curves.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-[624px_1fr]">
      <div class="bg-purple-100 p-6">
        <p class="text-[42px]/12 font-semibold text-purple-200">
          Productivity <br />
          with Playfulness
        </p>
      </div>
      <div class="p-4 md:py-6">
        <p class="text-grey-300 text-lg/6 font-medium">
          We believe that great collaboration stems from engaged, happy teams.
          That’s why our platform blends productivity with playfulness, using
          creative features to foster inclusivity, keep morale high, and make
          the journey as rewarding as the results.
        </p>
      </div>
    </div>
  </div>
</section>
