---
import LinkButton from "~/components/ui/LinkButton.astro";
import Heading from "~/components/ui/Heading.astro";
import Subheading from "~/components/ui/Subheading.astro";
import reviews from "~/assets/images/reviews-embed.png";
import { Image } from "astro:assets";
---

<section class="p-16 max-md:px-4">
  <Heading class="mb-6">Loved by product teams everywhere</Heading>
  <Subheading class="mb-6 md:mb-16">
    See what the teams who enjoy Metro Retro every month are saying
  </Subheading>

  <div class="mx-auto mb-6 max-w-[1114px]">
    <Image src={reviews} alt="" />
  </div>

  <LinkButton
    kind="secondary"
    color="grey"
    class="mx-auto"
    href="#load-more-reviews">Load more</LinkButton
  >
</section>
