---
import LinkButton from "~/components/ui/LinkButton.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <section class="px-4 py-16 md:py-32">
    <div
      class="mx-auto flex max-w-[878px] flex-col-reverse items-center gap-6 md:gap-16 lg:flex-row lg:items-end lg:gap-32"
    >
      <div
        class="max-lg:flex max-lg:flex-col max-lg:items-center lg:max-w-[468px]"
      >
        <h1 class="text-body text-base/5 font-medium">404 error</h1>
        <p
          class="mt-2 mb-6 text-[4rem]/none font-semibold text-blue-200 md:text-[8rem]/none"
        >
          Oopsie!
        </p>
        <p class="text-body mb-6 text-xl/8 font-medium max-lg:text-center">
          Looks like something went wrong, or the page you are looking for
          doesn’t exist.
        </p>
        <LinkButton href="/" color="purple">Go to the Home Page</LinkButton>
      </div>
      <div>
        <svg
          class="w-[218px] md:w-[290px]"
          width="290"
          height="270"
          viewBox="0 0 290 270"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.7802 230.05C27.1879 229.149 26.8611 228.099 26.8373 227.021C26.8136 225.943 27.0938 224.88 27.6459 223.954C63.1124 164.356 51.6429 79.5357 51.5253 78.6121C51.4098 77.735 51.4991 76.843 51.7861 76.0062C52.0732 75.1694 52.5503 74.4105 53.1799 73.789C53.8095 73.1675 54.5746 72.7003 55.4151 72.4242C56.2556 72.148 57.1486 72.0703 58.0241 72.1972C141.988 84.2713 190.872 72.4323 191.359 72.3148C192.696 71.9677 194.113 72.1168 195.348 72.7343C196.583 73.3518 197.552 74.3959 198.076 75.6734C235.642 164.054 187.665 262.662 185.616 266.809C185.143 267.768 184.411 268.575 183.502 269.139C182.594 269.702 181.546 270.001 180.477 270C55.5556 269.916 28.855 231.729 27.7802 230.05ZM63.7337 84.4896C65.816 106.757 68.9731 173.492 39.6192 226.137C47.8813 233.912 81.0639 257.808 176.766 258.413C184.424 241.251 218.009 158.361 189.243 84.4056C175.171 87.1428 131.61 93.4402 63.7337 84.5232V84.4896Z"
            fill="#3B65EF"></path>
          <path
            opacity="0.1"
            d="M182.29 269.597C182.29 269.597 266.086 250.201 287.917 223.333C287.917 223.333 296.313 216.616 277.841 216.616C259.369 216.616 240.897 219.974 195.556 219.974L182.29 269.597Z"
            fill="#3B65EF"></path>
          <path
            d="M8.13289 123.382C7.94987 123.287 7.81125 123.124 7.74666 122.928L6.75587 120.006C6.67523 119.81 6.64634 119.596 6.67192 119.385C6.71184 119.196 6.76801 119.01 6.83983 118.831L12.2471 104.843L3.71637 107.714C3.53337 107.789 3.32841 107.789 3.14542 107.714C3.05534 107.671 2.9748 107.609 2.9085 107.535C2.8422 107.46 2.79145 107.372 2.75919 107.277L1.75161 104.305C1.67655 104.111 1.67655 103.895 1.75161 103.701C1.79444 103.607 1.85721 103.524 1.93554 103.457C2.01386 103.391 2.10585 103.342 2.20502 103.314L16.7812 98.3941C16.878 98.3574 16.9813 98.341 17.0847 98.3459C17.1881 98.3508 17.2894 98.3769 17.3823 98.4226C17.4752 98.4682 17.5577 98.5325 17.6247 98.6114C17.6918 98.6902 17.7419 98.782 17.772 98.8811L18.7459 101.769C18.888 102.125 18.888 102.522 18.7459 102.878L13.7081 116.782L22.4572 113.776C22.5525 113.735 22.6554 113.713 22.7594 113.713C22.8635 113.713 22.9664 113.735 23.0617 113.776C23.1578 113.818 23.2436 113.88 23.3132 113.959C23.3828 114.037 23.4345 114.129 23.4648 114.23L24.4891 117.269C24.5303 117.362 24.5516 117.462 24.5516 117.563C24.5516 117.664 24.5303 117.764 24.4891 117.857C24.3922 118.035 24.2294 118.167 24.0357 118.226L8.92215 123.365C8.80206 123.432 8.66726 123.469 8.52962 123.472C8.39199 123.475 8.25574 123.444 8.13289 123.382Z"
            fill="#3B65EF"></path>
          <path
            d="M1.53242 81.9875C1.31516 81.7866 1.183 81.5102 1.163 81.215L0.911091 76.8489C0.8859 76.5513 0.931955 76.2519 1.04544 75.9756C1.16882 75.7311 1.3091 75.4954 1.46526 75.2704L14.1606 58.1752L1.3981 58.8973C1.25787 58.907 1.11713 58.8882 0.984375 58.842C0.851615 58.7958 0.729569 58.7233 0.625615 58.6286C0.520693 58.5351 0.435461 58.4216 0.374912 58.2947C0.314363 58.1678 0.279698 58.0302 0.272955 57.8898L0.00428899 53.4397C-0.0214115 53.1483 0.0691227 52.8585 0.256171 52.6336C0.348806 52.5221 0.464085 52.4314 0.594354 52.3677C0.724624 52.3041 0.866912 52.2688 1.01184 52.2642L22.8425 51.0215C22.9907 51.0088 23.1399 51.026 23.2813 51.0722C23.4226 51.1183 23.5533 51.1925 23.6654 51.2902C23.8786 51.494 24.01 51.7687 24.0348 52.0627L24.2699 56.3952C24.3093 56.93 24.1409 57.4593 23.7997 57.873L11.5913 75.0017L24.6897 74.246C24.8363 74.2321 24.9842 74.2485 25.1242 74.2942C25.2641 74.3399 25.3933 74.4138 25.5035 74.5114C25.6137 74.609 25.7027 74.7283 25.7649 74.8617C25.8272 74.9952 25.8613 75.14 25.8652 75.2871L26.1339 79.838C26.1347 79.979 26.1068 80.1187 26.052 80.2486C25.9971 80.3785 25.9164 80.4959 25.8149 80.5937C25.6106 80.8014 25.3336 80.9218 25.0424 80.9295L2.3049 82.273C2.02058 82.2788 1.74458 82.1768 1.53242 81.9875Z"
            fill="#3B65EF"></path>
          <path
            d="M25.4788 32.8181C25.4285 32.6354 25.4159 32.4444 25.4419 32.2567C25.4679 32.0691 25.5318 31.8886 25.6299 31.7265L28.4847 26.8062C28.6547 26.4629 28.9089 26.1683 29.2236 25.9498C29.4923 25.8155 29.8113 25.6475 30.1976 25.4964L56.1257 15.9916L41.7846 7.69599C41.6271 7.60631 41.4894 7.4857 41.3797 7.3414C41.2701 7.1971 41.1907 7.03211 41.1465 6.85634C41.0924 6.68059 41.0763 6.49531 41.0995 6.31288C41.1227 6.13044 41.1845 5.95504 41.2808 5.7984L44.1692 0.760545C44.3522 0.423136 44.6594 0.170194 45.0256 0.0552494C45.205 0.00105594 45.394 -0.0134978 45.5796 0.0125985C45.7652 0.0386948 45.9429 0.104815 46.1004 0.206382L70.6179 14.3795C70.7846 14.4702 70.9304 14.5947 71.0461 14.7451C71.1618 14.8955 71.2447 15.0684 71.2896 15.2528C71.3475 15.4344 71.3641 15.6268 71.3379 15.8157C71.3118 16.0046 71.2436 16.1852 71.1385 16.3443L68.3341 21.2142C67.9923 21.8274 67.4267 22.2846 66.7556 22.4905L41.3312 32.3479L56.0417 40.8954C56.2071 40.9877 56.352 41.1127 56.4675 41.2628C56.583 41.413 56.6667 41.5851 56.7134 41.7686C56.7642 41.954 56.7769 42.1478 56.751 42.3382C56.725 42.5287 56.6608 42.7119 56.5623 42.877L53.6068 47.9148C53.5195 48.0792 53.3979 48.2228 53.2501 48.3358C53.1023 48.4488 52.9318 48.5286 52.7503 48.5697C52.3784 48.6569 51.9873 48.5968 51.6588 48.4018L26.1337 33.6409C25.8208 33.4574 25.5874 33.1641 25.4788 32.8181Z"
            fill="#3B65EF"></path>
          <path
            d="M118.31 142.727C118.31 147.181 116.541 151.452 113.392 154.601C110.243 157.751 105.971 159.52 101.517 159.52C97.0637 159.52 92.7924 157.751 89.6432 154.601C86.4939 151.452 84.7246 147.181 84.7246 142.727"
            stroke="#3B65EF"
            stroke-width="10.0757"
            stroke-miterlimit="10"
            stroke-linecap="round"></path>
          <path
            d="M172.048 142.727C172.048 147.181 170.278 151.452 167.129 154.601C163.98 157.751 159.708 159.52 155.255 159.52C150.801 159.52 146.53 157.751 143.38 154.601C140.231 151.452 138.462 147.181 138.462 142.727"
            stroke="#3B65EF"
            stroke-width="10.0757"
            stroke-miterlimit="10"
            stroke-linecap="round"></path>
          <path
            d="M83.8844 213.257C93.6225 213.257 101.517 205.363 101.517 195.625C101.517 185.886 93.6225 177.992 83.8844 177.992C74.1463 177.992 66.252 185.886 66.252 195.625C66.252 205.363 74.1463 213.257 83.8844 213.257Z"
            fill="#3B65EF"></path>
        </svg>
      </div>
    </div>
  </section>
</Layout>
