---
import Hero from "~/components/blocks/Hero.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import FocusOnOutcomes from "~/components/blocks/FocusOnOutcomes.astro";
import Personas from "~/components/blocks/Personas.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import WouldYouLikeToKnowMore from "~/components/blocks/WouldYouLikeToKnowMore.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import Guides from "~/components/blocks/Guides.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import Collaborate from "~/components/blocks/Collaborate.astro";
import TemplateLink from "~/components/blocks/TemplateLink.astro";
import Dots from "~/components/Dots.astro";
import ProductVideo from "~/components/blocks/ProductVideo.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import { pageMeta } from "~/utils";

const seo = await pageMeta({
  titleTemplate: "%s",
  title:
    "Online Whiteboard Software for Agile Teams | Ludi (formerly Metro Retro)",
  description:
    "Ludi is online whiteboard software for agile teams to run planning sessions, brainstorming, collaborative workshops and retrospectives in a shared visual workspace.",
});
---

<PageLayout {...seo}>
  <Dots />

  <Hero
    pill="Online whiteboard software"
    title="Make your team collaboration focused and fun"
    description="Ludi is the online whiteboard software that's more interesting than whatever your team has open in the other tab. Planning, agile meetings, retrospectives, and more. Start for free today."
  />

  <ProductVideo />

  <div class="space-y-16">
    <UsageStatement />
    <CustomerLogos />
  </div>

  <Collaborate />

  <FocusOnOutcomes />

  <Personas />

  <TemplateLink />

  <WallOfLove />

  <WouldYouLikeToKnowMore />

  <CustomerStories include={["eat-club", "ryd", "lucca"]} />

  <Guides />

  <Testimonials />
</PageLayout>
