---
import Hero from "~/components/blocks/Hero.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import FocusOnOutcomes from "~/components/blocks/FocusOnOutcomes.astro";
import Personas from "~/components/blocks/Personas.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import WouldYouLikeToKnowMore from "~/components/blocks/WouldYouLikeToKnowMore.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import Guides from "~/components/blocks/Guides.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import Collaborate from "~/components/blocks/Collaborate.astro";
import TemplateLink from "~/components/blocks/TemplateLink.astro";
import Dots from "~/components/Dots.astro";
import ProductVideo from "~/components/blocks/ProductVideo.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
---

<PageLayout
  titleTemplate="%s"
  title="Metro Retro | Retrospectives, Estimation & Planning for Agile Teams"
>
  <Dots />

  <Hero
    pill="Collaboration Software for Agile Teams"
    title="Effortless and engaging team collaboration"
    description="Boost team productivity with Metro Retro. Expertly designed tools for amazing retrospectives, planning, and agile ceremonies. Start for free today!"
  />

  <ProductVideo
    src="https://s.metroretro.io/site/video/2025-product-loop.mp4"
  />

  <div class="space-y-16">
    <UsageStatement />
    <CustomerLogos />
  </div>

  <Collaborate />

  <FocusOnOutcomes />

  <Personas />

  <TemplateLink />

  <WallOfLove />

  <WouldYouLikeToKnowMore />

  <CustomerStories include={["eat-club", "ryd", "lucca"]} />

  <Guides />

  <Testimonials />
</PageLayout>
