---
import AnnouncementBanner from "~/components/AnnouncementBanner.astro";
import Hero from "~/components/home/Hero.astro";
import Layout from "~/layouts/Layout.astro";
import heroDot from "~/assets/images/hero-dot.png";
import { Image } from "astro:assets";
import Pill from "~/components/ui/Pill.astro";
import CollapsibeItem from "~/components/home/CollapsibeItem.astro";
import Button from "~/components/ui/Button.astro";
import Outcomes from "~/components/home/Outcomes.astro";
import ForEveryone from "~/components/home/ForEveryone.astro";
import Heading from "~/components/ui/Heading.astro";
import Subheading from "~/components/ui/Subheading.astro";
import Reviews from "~/components/home/Reviews.astro";
import FAQ from "~/components/home/FAQ.astro";
import TryMetro from "~/components/home/TryMetro.astro";
import CustomerStories from "~/components/home/CustomerStories.astro";
import WhereToStart from "~/components/home/WhereToStart.astro";
import BottomCTA from "~/components/home/BottomCTA.astro";
---

<Layout>
  <Image
    src={heroDot}
    alt="Hero Dot"
    class="absolute top-0 left-0 z-0 h-auto w-full"
    slot="top"
  />

  <AnnouncementBanner slot="banner">
    <p>
      Introducing SEB, Metro Retro’s ai board helper - Read the full guide here
      -&gt;
    </p>
  </AnnouncementBanner>
  <Hero />

  <section class="pt-[4.5rem] pb-16">
    <Pill>Collaboration your way</Pill>
    <Heading class="my-6">Built to suit the way you work</Heading>
    <Subheading>
      With a fully customisable canvas experience and pre-built templates to
      help kickstart your meetings, Metro Retro adapts to your needs
    </Subheading>
    <div class="mx-auto mt-16 grid max-w-[1084px] grid-cols-[480px_1fr] gap-16">
      <div>
        {
          [
            "Shared Team Spaces",
            "Meeting & Workshops",
            "Task Tracking",
            "Integrations",
            "Templates",
          ].map((title) => (
            <CollapsibeItem
              title={title}
              text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            />
          ))
        }
      </div>
      <div class="space-y-6">
        <div
          class="aspect-[1.53] w-full rounded-[20px] bg-blue-100 drop-shadow-[0_3px_12px_rgba(98,116,150,0.2)]"
        >
        </div>

        <Button id="collapsible-more-info">More info</Button>
      </div>
    </div>
  </section>

  <Outcomes />

  <ForEveryone />

  <Reviews />

  <FAQ />

  <TryMetro />

  <CustomerStories />

  <WhereToStart />

  <BottomCTA />
</Layout>
