---
import AnnouncementBanner from "~/components/blocks/AnnouncementBanner.astro";
import Hero from "~/components/blocks/Hero.astro";
import Layout from "~/layouts/Layout.astro";
import heroDot from "~/assets/images/hero-dot.png";
import { Image } from "astro:assets";
import Focus from "~/components/blocks/Focus.astro";
import Personas from "~/components/blocks/Personas.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import FAQ from "~/components/blocks/FAQ.astro";
import TryMetro from "~/components/blocks/TryMetro.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import Guides from "~/components/blocks/Guides.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import "swiper/css";
import Collaborate from "~/components/blocks/Collaborate.astro";
import TemplateLink from "~/components/blocks/TemplateLink.astro";
---

<Layout>
  <Image
    src={heroDot}
    alt="Hero Dot"
    class="absolute top-0 left-0 z-0 h-auto w-full"
    slot="top"
  />

  <AnnouncementBanner slot="banner">
    <p>
      Introducing SEB, Metro Retro’s ai board helper - Read the full guide here
      -&gt;
    </p>
  </AnnouncementBanner>

  <Hero />

  <Collaborate />

  <Focus />

  <Personas />

  <TemplateLink />

  <WallOfLove />

  <FAQ />

  <TryMetro />

  <CustomerStories />

  <Guides />

  <Testimonials />

  <SignUp />
</Layout>
