---
import AnnouncementBanner from "~/components/AnnouncementBanner.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <AnnouncementBanner slot="banner">
    <p>
      Introducing SEB, Metro Retro’s ai board helper - Read the full guide here
      -&gt;
    </p>
  </AnnouncementBanner>
</Layout>
