---
import Document from "~/components/blocks/Document.astro";
import LinkButton from "~/components/ui/LinkButton.astro";
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="Placeholder Page">
  <Document>
    <h1>Placeholder Page</h1>
    <p>
      This is a placeholder page. It's here to provide a local redirect for
      pages handled via the application server. It should not be possible to
      ever view this page in a production environment.
    </p>
  </Document>
</PageLayout>
