---
import PageLayout from "~/layouts/PageLayout.astro";

import PricingTable from "~/components/blocks/pricing/PricingTable.astro";
import FaqFull from "~/components/blocks/FaqFull.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Dots from "~/components/Dots.astro";
import TextHero from "~/components/blocks/TextHero.astro";
import Hero from "~/components/blocks/Hero.astro";
---

<style>
  .wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<PageLayout title="Pricing" spacing="lg">
  <Dots />

  <section class="space-y-16">
    <Hero
      title="Simple Pricing, Amazing Meetings"
      description="Metro Retro puts planning, retros, and workshops in everyone's hands — with simple per-seat pricing for effective team collaboration."
      pill="Pricing"
      compact
    />

    <div class="mx-auto max-w-[80rem]">
      <iframe
        id="metret-pricing-iframe"
        class="h-[134rem] lg:h-[56rem]"
        src="https://metroretro.io/pricing/iframe"
        frameborder="0"
        scrolling="no"
        width="100%"
      >
      </iframe>
    </div>
  </section>

  <PricingTable />

  <FaqFull />

  <CustomerLogos />

  <Testimonials />

  <WallOfLove />
</PageLayout>
