---
import Layout from "~/layouts/Layout.astro";

import PricingTable from "~/components/blocks/pricing/PricingTable.astro";
import Faq2 from "~/components/blocks/Faq2.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Dots from "~/components/Dots.astro";
import TextHero from "~/components/blocks/TextHero.astro";
---

<Layout title="Pricing">
  <Dots />
  <section class="relative z-[1] px-4 py-12 md:pt-16 md:pb-32">
    <TextHero />

    <div
      class="mx-auto hidden aspect-[1.35] max-w-[80rem] rounded-[10px] bg-red-200/90 md:mt-16 md:block"
    >
    </div>
  </section>

  <PricingTable />

  <Faq2 />

  <CustomerLogos />

  <Testimonials />

  <WallOfLove />

  <SignUp />
</Layout>
