---
import PageLayout from "~/layouts/PageLayout.astro";

import PricingTable from "~/components/blocks/pricing/PricingTable.astro";
import FaqFull from "~/components/blocks/FaqFull.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import WallOfLove from "~/components/blocks/WallOfLove.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Dots from "~/components/Dots.astro";
import TextHero from "~/components/blocks/TextHero.astro";
---

<style>
  .wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<PageLayout title="Pricing">
  <Dots />
  <section class="relative z-[1] px-4 py-12 md:pt-16 md:pb-32">
    <TextHero />

    <div class="mx-auto max-w-[80rem]">
      <iframe
        id="metret-pricing-iframe"
        class="h-[134rem] md:h-[54rem]"
        src="https://swhitf.metret.ngrok.io/pricing/iframe"
        frameborder="0"
        scrolling="no"
        width="100%"
      >
      </iframe>
    </div>
  </section>

  <PricingTable />

  <FaqFull />

  <CustomerLogos />

  <Testimonials />

  <WallOfLove />
</PageLayout>
