---
import Document from "~/components/blocks/Document.astro";
import LinkButton from "~/components/ui/LinkButton.astro";
import PageLayout from "~/layouts/PageLayout.astro";

import prighterCertificate from "~/assets/images/logos/prighter.png";
---

<PageLayout title="Privacy Policy">
  <Document>
    <div class="mb-6">
      <p class="text-sm text-gray-600">
        The Terms of Use were updated 6th June 2021 12:00 (GMT).
      </p>
    </div>
    <h1>Privacy Policy</h1>
    <p>
      We ask that you read this website privacy policy carefully as it contains
      important information on who we are, how and why we collect, store, use
      and share personal information, your rights in relation to your personal
      information and on how to contact us and supervisory authorities in the
      event you have a complaint.
    </p>
    <h2>Who we are</h2>
    <p>
      This website is operated by Deqo Software Ltd (11594409) [trading as Metro
      Retro]. We are a software product company based in the UK making tools to
      enhance team productivity.
    </p>
    <p>
      We collect, use and are responsible for certain personal information about
      you. When we do so we are regulated under the General Data Protection
      Regulation which applies across the European Union and the United Kingdom
      and we are responsible as ‘processor’ of that personal information for the
      purposes of those laws.
    </p>
    <h2>Our website</h2>
    <p>
      This<em>&nbsp;</em>privacy policy relates to your use of our
      website:&nbsp;<a href="/">metroretro.io</a>&nbsp;only.
    </p>
    <p>
      Throughout our website we may link to other websites owned and operated by
      certain trusted third parties to provide users with support features and
      analytics for our website. These other third party websites may also
      gather information about you in accordance with their own separate privacy
      policies. For privacy information relating to these other third party
      websites, please consult their privacy policies as appropriate.
    </p>
    <h2>Our collection and use of your personal information</h2>
    <p>
      We collect personal information from you either directly, such as when you
      register with us or contact us or indirectly, such as your browsing
      activity while on our website (see ‘Cookies’ below), or if such is
      contained in any of your Notes.
    </p>
    <p>
      The personal information we collect about you depends on the particular
      activities carried out through our website. This information includes:
    </p>
    <ul role="list"><li>your name and email address</li></ul>
    <p>We use this personal information to:</p>
    <ul role="list">
      <li>create and manage your account with us</li>
      <li>provide goods and services to you</li>
      <li>
        notify you of any changes to our website or to our services that may
        affect you
      </li>
      <li>improve our services</li>
    </ul>
    <p>
      This website is not intended for use by children and we do not knowingly
      collect or use personal information relating to children.
    </p>
    <h2>Our legal basis for processing your personal information</h2>
    <p>
      When we use your personal information we are required to have a legal
      basis for doing so. There are various different legal bases on which we
      may rely, depending on what personal information we process and why.
    </p>
    <p>The legal bases we may rely on include:</p>
    <ul role="list">
      <li>
        <strong>consent:</strong>&nbsp;where you have given us clear consent for
        us to process your personal information for a specific purpose
      </li>
      <li>
        <strong>contract:</strong>&nbsp;where our use of your personal
        information is necessary for a contract we have with you, or because you
        have asked us to take specific steps before entering into a contract
      </li>
      <li>
        <strong>legal obligation:</strong>&nbsp;where our use of your personal
        information is necessary for us to comply with the law (not including
        contractual obligations)
      </li>
      <li>
        <strong>vital interests:</strong>&nbsp;where our use of your personal
        information is necessary to protect you or someone else’s life
      </li>
      <li>
        <strong>public task:&nbsp;</strong>where our use of your personal
        information is necessary for us to perform a task in the public interest
        or for our official functions, and the task or function has a clear
        basis in law
      </li>
      <li>
        <strong>legitimate interests:</strong>&nbsp;where our use of your
        personal information is necessary for our legitimate interests or the
        legitimate interests of a third party (unless there is a good reason to
        protect your personal information which overrides our legitimate
        interests)
      </li>
    </ul>
    <h2>Who we share your personal information with</h2>
    <p>
      We routinely share your email address and name with our support tool
      provider Intercom and our email service providers Mailgun and Mailjet.
      This data sharing enables us to send marketing emails to opted in users
      via Mailgun and Mailjet, plus the ability to offer support to users via
      Intercom. Some of these third party recipients may be based outside the
      United Kingdom and European Economic Area — for further information
      including on how we safeguard your personal data when this occurs, see
      ‘Transfer of your information out of the UK and EEA’.
    </p>
    <p>
      We will share personal information with law enforcement or other
      authorities if required by applicable law.
    </p>
    <p>
      We will not share your personal information with any other third party.
    </p>
    <h2>Transfer of your information out of the UK and EEA</h2>
    <p>
      We may transfer your personal information to the following which are
      located outside the United Kingdom (UK) and European Economic Area (EEA)
      as follows:&nbsp;
    </p>
    <ul role="list">
      <li>
        USA in order to utilise the Intercom service which provides our in-tool
        support feature.
      </li>
    </ul>
    <p>
      Such countries do not have the same data protection laws as the UK and
      EEA. While the European Commission has not given a formal decision that
      such countries provide an adequate level of data protection similar to
      those which apply in the UK and EEA, any transfer of your personal
      information will be subject to equivalent safeguards as permitted
      under&nbsp;<em>GDPR Article 46(5)</em>&nbsp;of the General Data Protection
      Regulation) that are designed to help safeguard your privacy rights and
      give you remedies in the unlikely event of a misuse of your personal
      information. To obtain a copy of such safeguards see here:
      <a
        href="https://www.intercom.com/help/en/articles/1385437-how-intercom-complies-with-gdpr"
        target="_blank"
        rel="noopener"
        >https://www.intercom.com/help/en/articles/1385437-how-intercom-complies-with-gdpr</a
      >
    </p>
    <p>
      See ‘Cookies and other tracking &amp; analytics technologies’ for details
      of the information submitted to Intercom. You may opt-out of having this
      information collected or submitted to Intercom; to do so please contact us
      at&nbsp;<a href="mailto:contact@metroretro.io">contact@metroretro.io</a>.
    </p>
    <p>
      If you would like further information please contact us<strong
        >&nbsp;</strong
      >(see ‘How to contact us’ below). We will not otherwise transfer your
      personal data outside of the UK OR area comprising the UK and EEA or to
      any organisation (or subordinate bodies) governed by public international
      law or which is set up under any agreement between two or more countries.
    </p>
    <h2>Cookies and other tracking &amp; analytics technologies</h2>
    <p>
      A cookie is a small text file which is placed onto your device (e.g.
      computer, smartphone or other electronic device) when you use our website.
      We only use strictly necessary cookies within our service to maintain a
      users logged in session. Once this session expires or a user logs out then
      the cookie is removed. However, Metro Retro does utilise third party
      analytics tools (see below) and Google, GitHub and Slack social login
      integration which also use cookies. If you would like information on how
      they use cookies, please refer directly to their websites. Additionally,
      you can find further information on how third parties and your browser may
      use cookies here: aboutcookies.org.&nbsp;
    </p>
    <p>
      We use analytics tools to gather user information whilst they use the
      service. This is to allow the Metro Retro team to analyse how, when and
      why you use the service in an attempt to improve and innovate the product.
    </p>
    <p>
      In particular, we provide a limited amount of your information (such as
      sign-up date and some personal information like your email address) to
      Intercom, Inc. (“Intercom”) and utilize Intercom to collect data for
      analytics purposes when you visit our website or use our product. As a
      data processor acting on our behalf, Intercom analyzes your use of our
      website and/or product and tracks our relationship by way of cookies and
      similar technologies so that we can improve our service to you. For more
      information on Intercom’s use of cookies, please visit&nbsp;<a
        href="https://www.intercom.com/terms-and-policies#cookie-policy"
        target="_blank"
        rel="noopener"
        >https://www.intercom.com/terms-and-policies#cookie-policy</a
      >. We may also use Intercom as a medium for communications, either through
      email, or through messages within our product(s). As part of our service
      agreements, Intercom collects publicly available contact and social
      information related to you, such as your email address, gender, company,
      job title, photos, website URLs, social network handles and physical
      addresses, to enhance your user experience. For more information on the
      privacy practices of Intercom, please visit&nbsp;<a
        href="https://www.intercom.com/terms-and-policies#privacy"
        target="_blank"
        rel="noopener">https://www.intercom.com/terms-and-policies#privacy</a
      >. Intercom’s services are governed by Intercom’s terms of use which can
      be found at&nbsp;<a
        href="https://www.intercom.com/terms-and-policies#terms"
        target="_blank"
        rel="noopener">https://www.intercom.com/terms-and-policies#terms</a
      >. If you would like to opt out of having this information collected by or
      submitted to Intercom, please contact us: contact@metroretro.io.
    </p>
    <h2>Marketing</h2>
    <p>
      We would like to send you information about products and services<em
        >,&nbsp;</em
      >which may be of interest to you. Where we have your consent or it is in
      our legitimate interests to do so, we may do this by email,&nbsp;
    </p>
    <p>
      We will only ask whether you would like us to send you marketing messages
      when you tick the relevant boxes upon&nbsp;registration.&nbsp; &nbsp;<a
        href="/account">Click here</a
      >&nbsp;to see what this form looks like and review your preferences.
    </p>
    <p>
      If you have previously agreed to being contacted in this way, you can
      unsubscribe at any time by:
    </p>
    <ul role="list">
      <li>contacting us at contact@metroretro.io</li>
      <li>using the ‘unsubscribe’ link in emails</li>
      <li>
        updating your marketing preferences here&nbsp;<a href="/account"
          >/account</a
        >
      </li>
    </ul>
    <p>It may take up to 7 days for this to take place.</p>
    <p>
      For more information on your rights in relation to marketing, see ‘Your
      rights’ below.
    </p>
    <h2>Your rights</h2>
    <p>
      Under the General Data Protection Regulation you have a number of
      important rights free of charge. In summary, those include rights to:
    </p>
    <ul role="list">
      <li>
        fair processing of information and transparency over how we use your use
        personal information
      </li>
      <li>
        access to your personal information and to certain other supplementary
        information that this Privacy Notice is already designed to address
      </li>
      <li>
        require us to correct any mistakes in your information which we hold
      </li>
      <li>
        require the erasure of personal information concerning you in certain
        situations
      </li>
      <li>
        receive the personal information concerning you which you have provided
        to us, in a structured, commonly used and machine-readable format and
        have the right to transmit those data to a third party in certain
        situations
      </li>
      <li>
        object at any time to processing of personal information concerning you
        for direct marketing
      </li>
      <li>
        object to decisions being taken by automated means which produce legal
        effects concerning you or similarly significantly affect you
      </li>
      <li>
        object in certain other situations to our continued processing of your
        personal information
      </li>
      <li>
        otherwise restrict our processing of your personal information in
        certain circumstances
      </li>
      <li>
        claim compensation for damages caused by our breach of any data
        protection laws
      </li>
    </ul>
    <p>
      For further information on each of those rights, including the
      circumstances in which they apply, see the Guidance from the UK
      Information Commissioner’s Office (ICO) on individuals rights under the
      General Data Protection Regulation.
    </p>
    <p>If you would like to exercise any of those rights, please:</p>
    <ul role="list">
      <li>
        email us at&nbsp;<a href="mailto:contact@metroretro.io"
          >contact@metroretro.io</a
        >&nbsp;
      </li>
      <li>
        let us have enough information to identify you: name and email
        address&nbsp;
      </li>
      <li>
        let us have proof of your identity and address (a copy of your driving
        licence or passport and a recent utility or credit card bill), and
      </li>
      <li>
        let us know the information to which your request relates [including any
        account or reference numbers, if you have them]
      </li>
    </ul>
    <h2>Keeping your personal information secure</h2>
    <p>
      We have appropriate security measures in place to prevent personal
      information from being accidentally lost, or used or accessed in an
      unauthorised way. We limit access to your personal information to those
      who have a genuine business need to know it. Those processing your
      information will do so only in an authorised manner and are subject to a
      duty of confidentiality.
    </p>
    <p>
      We also have procedures in place to deal with any suspected data security
      breach. We will notify you and any applicable regulator of a suspected
      data security breach where we are legally required to do so.
    </p>
    <p>
      You can read more about how we keep your personal information secure on
      our&nbsp;<a href="/security">Security</a>&nbsp;page.
    </p>
    <h2>How to complain</h2>
    <p>
      We hope that we can resolve any query or concern you raise about our use
      of your information.
    </p>
    <p>
      The General Data Protection Regulation also gives you the right to lodge a
      complaint with a supervisory authority, in particular in a European
      Economic Area state or in the United Kingdom if you work, normally live or
      if any alleged infringement of data protection laws occurred in the
      relevant state. The supervisory authority in the UK is the Information
      Commissioner who may be contacted at <a
        href="https://ico.org.uk/concerns/"
        target="_blank"
        rel="noopener">https://ico.org.uk/concerns/</a
      > or telephone: [<em>0303 123 1113</em>].
    </p>
    <h2>Representative</h2>
    <p>
      We value your privacy and your rights as a data subject and have therefore
      appointed Prighter Group with its local partners as our privacy
      representative and your point of contact for the following regions:
    </p>
    <p>European Union (EU)</p>
    <p>
      Prighter gives you an easy way to exercise your privacy-related rights
      (e.g. requests to access or erase personal data). If you want to contact
      us via our representative, Prighter or make use of your data subject
      rights, please visit the following website:
      <a
        href="https://app.prighter.com/portal/18060012132"
        target="_blank"
        rel="noopener">https://app.prighter.com/portal/18060012132</a
      >
    </p>
    <p>
      <img
        fetchpriority="high"
        decoding="async"
        class="alignnone size-medium wp-image-7772"
        src={prighterCertificate.src}
        alt=""
        width="300"
        height="167"
        sizes="(max-width: 300px) 100vw, 300px"
      />
    </p>
    <h2>Changes to this website privacy policy</h2>
    <p>
      This website privacy policy was published on 29th April 2019 and last
      updated on 6th June 2021.
    </p>
    <p>
      We may change this website privacy policy from time to time, when we do we
      will inform you via a pop up on service entry to reconfirm acceptance to
      the change in terms and policies.
    </p>
    <h2>How to contact us</h2>
    <p>
      Please contact us at<strong>&nbsp;</strong><a
        href="mailto:contact@metroretro.io">contact@metroretro.io</a
      >&nbsp;if you have any questions about this privacy notice or the
      information we hold about you.
    </p>
  </Document>
</PageLayout>
