---
import Document from "~/components/blocks/Document.astro";
import LinkButton from "~/components/ui/LinkButton.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Security">
  <Document>
    <h1>Metro Retro Security Overview</h1>
    <p>
      Thousands of teams trust Metro Retro to keep their data safe and
      confidential.&nbsp;
    </p>
    <p>
      We take security very seriously, with appropriate measures to keep your
      data secure within a fast and reliable system.&nbsp; The headlines are:
    </p>
    <ul role="list">
      <li>All our data is hosted within the EU.</li>
      <li>We use encryption in transit and at rest.</li>
      <li>
        Access to our infrastructure is protected from intrusion via
        public/private keys and/or 2FA.
      </li>
    </ul>
    <p>
      For more detail on this, please read on.&nbsp; If you have any questions
      about the content of this page, or other matters, please email us at
      contact@metroretro.io.
    </p>
    <h2>Data Center Security</h2>
    <p>
      Metro Retro is deployed to&nbsp;<a
        href="https://www.digitalocean.com/"
        target="_blank"
        rel="noopener">Digital Ocean</a
      >&nbsp;in Amsterdam (AMS3).&nbsp; This data center is certified compliant
      with:
    </p>
    <ul role="list">
      <li>SOC1</li>
      <li>SOC2</li>
      <li>ISO27001</li>
      <li>PCI-DSS</li>
    </ul>
    <p>
      Documentation regarding these certifications is available here:<br
      />&zwj;<a
        href="https://www.digitalocean.com/trust/certification-reports/"
        target="_blank"
        rel="noopener"
        >https://www.digitalocean.com/trust/certification-reports/</a
      >
    </p>
    <h2>Application Security</h2>
    <p>To protect customer data, Metro Retro utilizes end-to-end encryption:</p>
    <ul role="list">
      <li>
        Connections to Metro Retro servers are secured using TLS 1.2
        (HTTPS/WSS).
      </li>
      <li>Our databases have encryption at rest configured using AES-256.</li>
      <li>Data backups are also disk encrypted with AES-256.</li>
      <li>Backups are stored for a maximum of 7 days.</li>
      <li>
        User passwords are stored using standard hashing/salting techniques.
      </li>
    </ul>
    <h2>Operations Security</h2>
    <p>
      To protect our system from unauthorized access we implement the following
      measures:
    </p>
    <ul role="list">
      <li>
        All service provider system accounts are protected with Multi-Factor
        Authentication (MFA).
      </li>
      <li>
        Access to our network is available only via authenticated VPN
        connection.
      </li>
      <li>
        Access to our VPN is roles based, MFA protected and monitored/audited.
      </li>
      <li>
        We implement least privilege access principles within our network
        topology, ensuring servers only have access to resources they need on
        ports that are applicable.
      </li>
      <li>
        We hide our server topology information by routing all user traffic
        through a reverse proxy gateway.
      </li>
    </ul>
    <h2>Authentication</h2>
    <p>
      Metro Retro requires users to be authenticated by standard email/password
      combination, or one of the following OAuth login providers: Google,
      Github, Slack or Linkedin.
    </p>
    <p>Users are required to verify their email before using Metro Retro.</p>
    <p>
      SAML-based Single Sign On (SSO) is available to customers on a paid plan.
      Customers on a paid plan can also set domain-level access to team spaces
      and boards, and have centralized control over user access.
    </p>
    <p>
      Email us at contact@metroretro.io if you would like to know more about the
      subscription plans.
    </p>
    <h2>Data Ownership</h2>
    <p>
      Metro Retro account data (e.g. name, email, etc) belongs to the user that
      created the account.&nbsp; Account owners have the right to modify or
      delete their account data at any time and can do so via their account
      page, accessible from the user dashboard.
    </p>
    <p>
      Metro Retro board data belongs to the creator of the board, even data
      contributed by other users.&nbsp;If a board is created inside an active
      subscription, the paying organization retain all rights to the content.
      Board owners control access to their boards by sharing the board link and
      optionally setting a password (via the share menu in the board UI).&nbsp;
      Board owners have the right to modify or delete their boards at any time.
    </p>
    <p>
      For more on this see our&nbsp;<a href="/privacy">Privacy Policy</a
      >&nbsp;and&nbsp;<a href="/terms">Terms Of Use</a>.
    </p>
    <h2>Data Privacy</h2>
    <p>
      Metro Retro uses Google Analytics on our marketing website, but not when
      users are logged into the application.&nbsp; We use Intercom to provide
      in-app support, which also performs user session tracking and a CRM
      interface.&nbsp;&nbsp;<strong>This can be disabled on request.</strong>
    </p>
    <p>
      Metro Retro employees have the ability to access customer account/board
      data, but only do so when providing support to users.
    </p>
    <p>
      All customer data collected is stored and managed in accordance with
      GDPR.&nbsp; For more information on this please review our&nbsp;<a
        href="/privacy">Privacy Policy</a
      >.
    </p>
    <h2>Monitoring / Logging</h2>
    <p>
      We monitor the Metro Retro system around the clock using infrastructure
      monitoring software and uptime monitoring services.&nbsp; We will be
      automatically notified of an outage within 5 minutes.
    </p>
    <p>
      We have a public status page here:<br /><a
        href="https://status.metroretro.io/"
        target="_blank"
        rel="noopener">https://status.metroretro.io/</a
      >
    </p>
    <h2>Bug Bounty</h2>
    <p>
      We do not offer a Bug Bounty scheme, but appreciate being informed of any
      bugs you may have found.&nbsp; Please report any bugs or security concerns
      to contact@metroretro.io.
    </p>
  </Document>
</Layout>
