---
import Document from "~/components/blocks/Document.astro";
import PageLayout from "~/layouts/PageLayout.astro";
import mrTeamImage from "~/assets/images/mr-team.png";
---

<PageLayout title="Support">
  <Document>
    <figure>
      <img
        src={mrTeamImage.src}
        alt="Ludi Team"
        class="h-auto w-full rounded-lg"
      />
      <figcaption>The Ludi team, in order of least to best beard.</figcaption>
    </figure>
    <h1>We're here to help</h1>
    <p>
      We love talking to our customers and are always looking for ways to
      improve our product. If you have any questions or feedback, please reach
      out to us.
    </p>
    <h2>How to get in touch</h2>
    <p>You can either:</p>
    <ul>
      <li>
        Live chat to us via <span
          data-intercom
          class="cursor-pointer text-blue-200 underline">Intercom</span
        > &mdash; we're online most UTC office hours
      </li>
      <li>
        For support or general enquiries, send us an email at <a
          href="mailto:contact@ludi.co"
          class="text-blue-200">contact@ludi.co</a
        >
      </li>
      <li>
        For sales & demo requests, <a
          href="https://calendly.com/jamie-ludi/"
          class="text-blue-200 underline">book a call with Jamie here</a
        >
      </li>
    </ul>
    <p>
      For guides and feature help you can check out <a
        href="https://docs.ludi.co/"
        class="text-blue-200 underline">our help docs.</a
      >
    </p>
  </Document>
</PageLayout>
