---
import Document from "~/components/blocks/Document.astro";
import LinkButton from "~/components/ui/LinkButton.astro";
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="Terms">
  <Document>
    <div class="mb-6">
      <p class="text-sm text-gray-600">
        The Terms of Use were updated 6th May 2021 12:00 (GMT).
      </p>
    </div>

    <h1>Terms of Use</h1>
    <p>
      These Terms of Use (“<strong>Terms</strong>”) govern access and use of the
      Service.&nbsp; Please read the following Terms carefully before using,
      accepting and/or registering for the Service. &nbsp;By accessing the
      Service and/or registering as a User (as defined below), you accept these
      Terms, and acknowledge that you, on your own behalf as an individual and
      on behalf of your employer or another legal entity, have read, understood
      and agreed to comply to the following terms and conditions.
    </p>
    <p>
      Please also take a moment to read our&nbsp;<a href="/privacy"
        >Privacy Policy</a
      >, which forms part of these Terms.
    </p>
    <p>
      If you have any questions or concerns, feel free to email us at
      contact@metroretro.io. &nbsp;If you do not accept these Terms, do not
      access or use the Service.
    </p>
    <p>
      Ludi is a trading name of Deqo Software Limited, a company incorporated in
      England with registered number 11594409 whose registered office is at 35
      Mill Crescent, Tonbridge, England, TN9 1PE.
    </p>
    <h2>1. Definitions</h2>
    <p>
      1.1 &nbsp;In these Terms, the following terms have the following meanings:
    </p>
    <p>“<strong>Account</strong>” has the meaning set out in Clause 2.1;</p>
    <p>
      “<strong>Board(s</strong>)”means a virtual space for collaboration
      accessible via a unique URL provided by Ludi.
    </p>
    <p>
      “<strong>Content</strong>” means the Boards and any image, text, vote,
      comment or other data record added to a Board by a User,:
    </p>
    <p>
      “<strong>Owner(s</strong>”)means for each Board the User that created that
      Board;
    </p>
    <p>
      “<strong>Service</strong>” means the right to use the software provided by
      Ludi to create Boards, publish and distribute text and image Content on
      Boards and the provision of the Boards.
    </p>
    <p>
      “<strong>Subscriber</strong>” means a User who has paid for a valid
      Subscription;
    </p>
    <p>
      “<strong>Subscription Period</strong>” means the period of a valid
      Subscription’
    </p>
    <p>
      “<strong>Subscription</strong>” has the meaning set out in Clause 4.1’
    </p>
    <p>“<strong>Terms</strong>” means these Terms and Conditions;</p>
    <p>
      “<strong>User(s)</strong>”means individuals that have registered an
      Account and/or who create or are authorised to use a Board under these
      Terms;
    </p>
    <p>“<strong>Website</strong>” means the Ludi website.</p>
    <p>
      1.2 &nbsp;These Terms include the Data Protection Policy, which is hereby
      incorporated by reference.
    </p>
    <h2>2. Registration</h2>
    <p>
      2.1 &nbsp;In order to use the Service, Users must register an account and
      voluntarily supply some personal data; their name and email address(an “<strong
        >Account</strong
      >”).&nbsp; This data will only be used in accordance with Ludi’s Privacy
      Policy and may be amended by the User by logging into their Account.
      &nbsp;The User is responsible for maintaining security of their login
      credentials, including through any third party logins. &nbsp;The User
      authorises Ludi to use the email address provided by that User for contact
      and for any contract notifications.
    </p>
    <p>
      2.2 &nbsp;If a User creates an Account using an email address belonging to
      their employer or other entity, the User represent and warrant that they
      have authority to create an account on behalf of such entity and further
      agrees that Ludi may share your email address with and control of your
      account may be taken over by such entity (the “Corporate Customer”).
      &nbsp;Upon any such takeover, the administrator controlling the email
      account may be able to (i) access, disclose, restrict or remove
      information from that account, (ii) restrict or terminate your access to
      the Service and (iii) prevent you from later disassociating such account
      from the Corporate Customer.
    </p>
    <h2>3. Use of the Service</h2>
    <p>
      3.1 &nbsp;Ludi grants the User a licence to create, to publish and
      distribute text and image content on Boards, for its&nbsp;own business
      purposes, including for the provision of seminars, workshops or the
      provision of your services to third parties, subject always to the
      restrictions on Content and obligations under these Terms.
    </p>
    <p>
      3.2 &nbsp;Users may collaborate with other Users by joining Boards
      simultaneously.&nbsp; &nbsp;Boards created within Ludi are directly linked
      to the Owner of that Board). &nbsp;The Owner can invite other Users can be
      invited to collaborate by sharing the unique URL of the Board and, if
      applicable, the Board password.&nbsp;&nbsp;
    </p>
    <p>
      3.3 &nbsp;The Owner is responsible for all Content additions, updates and
      deletions made to their Board, including edits by all other Users that
      have been invited by them or their invitees. By inviting other Users, the
      Owner grants those Users a full licence to access, view and edit all
      content within that Board, as well as to invite further Users. &nbsp;
    </p>
    <p>
      3.4&nbsp; The Owners agrees not to post or allow to be posted or to remain
      displayed any content might infringe any applicable laws, regulations or
      third party rights, or that is obscene, indecent, pornographic, seditious,
      offensive, sexist, homophobic, defamatory, threatening, liable to incite
      racial or religious hatred, menacing, blasphemous, or in breach of any
      third party intellectual property rights on a Board. &nbsp;Users may not
      publish or cause to be published via the Service, any material which is
      harmful, deliberately inaccurate, libellous or otherwise inappropriate, or
      which is otherwise deceptive or purports to represent the identity of
      another person, body or legal entity The above also applies to any Metro
      Retro curated content used or removed to any other sites or software by
      Users without Ludi’s prior written consent. &nbsp;
    </p>
    <p>
      3.5 &nbsp;Users may not and may not allow any other Users or any third
      party to:
    </p>
    <p>
      (i) give, sell, rent, lease, timeshare, sublicense, disclose, publish,
      assign, market, sell, display, transmit, transfer or distribute any
      portion of the Service;
    </p>
    <p>(ii) disable or interfere with our security-related features;</p>
    <p>
      (iii) reverse engineer, decompile or disassemble, decrypt or, attempt to
      derive the source code of the Service or the software used to provide it;
    </p>
    <p>
      (iv) copy, modify, improve, change or create any derivative work of the
      Service; or&nbsp;
    </p>
    <p>
      (v) remove or alter Ludi’s or any third party’s identification,
      attribution or copyright notices, trademarks, or other proprietary rights
      joined to or provided as part of our Services.
    </p>
    <p>
      3.6 &nbsp;Users are responsible for obtaining all consents for the use of
      Personal Data (as such term is described in the Data Protection Policy)
      from the owners’ of that Personal Data. &nbsp;
    </p>
    <p>
      3.7 &nbsp;Ludi reserves the rights to use, process, access, display, copy
      and store any Content submitted to the Service by Users for the purposes
      of providing and improving our services only and always in alignment with
      our Privacy Policy
    </p>
    <p>
      3.8 &nbsp;The Owner is responsible for all Users authorised by them to use
      a Board and agrees to indemnify Ludi for any costs or losses including
      without limitation any fines it may occur because of a breach of any Users
      on of the terms of this Clause 3.
    </p>
    <h2>4.&nbsp;Subscriptions and Payment</h2>
    <p>
      4.1 &nbsp;The User’s rights and obligations will be based on the type of
      subscription chosen (i.e., free or paid Subscription). &nbsp;Details about
      the different types of Subscriptions and the limits and available features
      associated with the Services along with instructions on how to purchase
      one are available on request by emailing contact@metroretro.io. Please
      note that Subscription Fees are subject to change from time to time.
      &nbsp;Ludi will not change a Subscription Fee during the term of a
      Subscription, only on renewal of such Subscription. &nbsp;
    </p>
    <p>
      4.2&nbsp; The functionality of free Services is limited. Usage over these
      limits or access to certain features will not be possible without
      purchasing a Subscription. A User can change the type of Subscription by
      emailing contact@metroretro.io and following the instructions, if any,
      provided to you in response to your change request;
    </p>
    <p>
      4.3 &nbsp;By buying a Subscription (such purchase, a “<strong
        >Transaction</strong
      >”) a User authorises Ludi (or its third party payment processor) to
      charge for that Transaction and represents and warrants that they have the
      legal right to use the proposed payment method. The User may be asked to
      supply additional information including, without limitation, credit-card
      numbers, expiration dates and billing addresses.
    </p>
    <p>
      4.4 &nbsp;Ludi’s order process is conducted by our online reseller
      Paddle.com. Paddle.com is the Merchant of Record for all our orders.
      Paddle provides all customer service inquiries and handles returns.
    </p>
    <p>
      4.5 &nbsp;If the User purchases a recurring Subscription, the User
      agreements that Ludi may charge for renewals of the Subscription at the
      then-applicable rate unless The User cancels the Subscription as set out
      below. &nbsp;The User also agrees that Ludi (or its third party payment
      processor) may automatically charge you in accordance with term of your
      Subscription (e.g., each month, quarter or year), on the calendar day
      corresponding to the commencement of your Subscription, using the Payment
      Information you have provided, or on the next business day.
    </p>
    <p>
      4.6 &nbsp;You may cancel a Subscription at the end of the
      then-Subscription Period. &nbsp;You will not be entitled to any refund in
      respect of any pre-paid amounts. &nbsp;
    </p>
    <p>
      4.7 &nbsp;At the end of the Subscription Period, you will lose access to
      any paid Services. Any Content loaded to a Board during the Subscription
      Period will remain available to you for a period of 7 calendar days.
      &nbsp;During this period we will make the data available to you as an
      export. &nbsp;
    </p>
    <p>
      4.8 &nbsp;Fees are quoted Net of VAT, and if applicable VAT may be added
      by our third party payment provider.
    </p>
    <p>
      4.9 &nbsp;Ludi may, at its discretion, offer a free trial Subscription for
      a limited period of time (“<strong>Free Trial</strong>“). &nbsp;A User may
      be required to enter billing information in order to sign up for the Free
      Trial, but will not be charged by Ludi until the Free Trial has expired.
      &nbsp;Thirty days after the Free Trial period, unless the User has
      cancelled their Subscription, the User will be automatically charged the
      applicable Subscription Fee
    </p>
    <h2>5. Termination</h2>
    <p>
      5.1 &nbsp;Ludi reserves the right to terminate the access of any User who
      has not paid a Subscription Fee to any and all parts of the Service at any
      time, without cause or notice. &nbsp;If you are a Subscriber, we may only
      terminate your Subscription during a Subscription Period if you commit a
      material breach of these Terms, by giving you written notice. &nbsp;
    </p>
    <p>
      5.2&nbsp; If you wish to terminate your account with Ludi, then please
      follow the instructions contained within our Privacy Policy. &nbsp;Please
      note no Subscription fees paid will be returned.
    </p>
    <h2>6. Support</h2>
    <p>
      6.1 &nbsp;Ludi does not warrant either an error free or continuous
      service. In using Ludi you accept these terms, and the impact of such
      potential limitations to the Service e.g. loss of data on an active Board.
      &nbsp;All warranties applied at law which can be disclaimed are hereby
      disclaimed.
    </p>
    <p>
      6.2 &nbsp;If there is any loss or corruption of any data associated with
      the Services, Ludi will use commercially reasonable efforts to restore the
      lost or corrupted data from the latest backup of such data maintained by
      Ludi. Except for the foregoing, Ludi will not be responsible for any loss,
      destruction, alteration, unauthorized disclosure or corruption of any such
      data.
    </p>
    <p>
      6.3 &nbsp;Ludi will provide levels of support to Subscribers in accordance
      with the terms of their Subscription. &nbsp;
    </p>
    <h2>7. Intellectual Property Rights</h2>
    <p>
      7.1 &nbsp;The Service and software, including all content contained or
      displayed on our Website, are property of Deqo Software Ltd and may be
      protected by applicable copyright or other intellectual property laws
      treaties. We reserve all rights in relation to all such intellectual
      property rights, the Ludi trademark, Website content and software provided
      in connection with the Service.
    </p>
    <p>
      7.2 &nbsp;We will not use any Content provided by you save as strictly
      necessary to operate the Service and store and make such Content available
      to you. &nbsp;As between us, you will remain the owner of all your
      Content. However we will not be obliged to return any Content to you on
      termination of these Terms, or destruction of a Note.
    </p>
    <p>
      7.3 &nbsp;The Website may contain links to third party websites that are
      not owned or controlled by Ludi. We accept no liability for any
      third-party website, in reference to their content, privacy policy, or
      practices.
    </p>
    <h2>8. Liability</h2>
    <p>
      8.1 &nbsp;To the extent its liability can be limited at law, Ludi’s total
      aggregate liability howsoever arising under or in connection with our
      Services shall not exceed an amount equal to the Fees for all Services
      paid to the Supplier in the 12-month period immediately preceding the
      first incident giving rise to any claim under these Terms.
    </p>
    <p>
      8.2 &nbsp;Notwithstanding the foregoing, under no circumstances but only
      to the extent permissible at law, including but not limited to breach of
      contract, tort, or negligence, will Ludi, its licensors, or service
      providers be liable for any direct, indirect, special, incidental,
      punitive, exemplary, or consequential damages (including lost profits)
      that arise out of or are related to your use of the Service. These
      exclusions and limitations of liability will apply to the fullest extent
      permitted by law and will survive cancellation or termination of your
      Subscription.
    </p>
    <h2>9. Feedback and Error Reporting</h2>
    <p>
      9.1&nbsp; The User may provide Ludi with information and feedback
      concerning errors, suggestions for improvements, ideas, problems,
      complaints, and other matters related to the Website and
      Service(“Feedback”) via email. The User acknowledges and agrees that: (i)
      they shall not retain, acquire or assert any intellectual property right
      or other right, title or interest in or to the Feedback; (ii) Ludi may
      have development ideas similar to the Feedback; (iii) the Feedback does
      not contain confidential information or proprietary information from the
      User or any third party; and(iv) Ludi is not under any obligation of
      confidentiality with respect to the Feedback. In the event the transfer of
      the ownership to the Feedback is not possible due to applicable mandatory
      laws, you grant Company and its affiliates an exclusive, transferable,
      irrevocable, free-of-charge, sub-licensable, unlimited and perpetual right
      to use (including copy, modify, create derivative works, publish,
      distribute and commercialize) Feedback in any manner and for any purpose.
    </p>
    <h2>10. Changes</h2>
    <p>
      10.1&nbsp; Ludi reserves the right to vary these Terms from time to time.
      Updated Terms will be displayed on the Site and by continuing to use and
      access the Services following such changes, you agree to be bound by any
      variation made by us. It is the User’s responsibility to check these Terms
      from time to time to verify such variations.
    </p>
    <h2>11. General</h2>
    <p>
      11.1 &nbsp;These terms are governed by English law, and you agree to the
      exclusive jurisdiction of the English courts.
    </p>
    <p>
      11.2 &nbsp;A person who is not a party to these Terms shall not have any
      rights under the Contracts (Rights of Third Parties) Act 1999 to enforce
      any of its provisions.
    </p>
    <p>
      11.3 &nbsp;Ludi is not liable to you for failure to comply with these
      Terms because of circumstances beyond its reasonable control, [including,
      but not limited to, strikes, lock-outs or other industrial disputes;
      breakdown of systems or network access; or flood, fire, explosion or
      accident].
    </p>
    <p>
      11.4 &nbsp;No one other than a party to these Terms has any right to
      enforce any of these Terms.
    </p>
  </Document>
</PageLayout>
