---
import LinkButton from "../ui/LinkButton.astro";
---

<section class="bg-black py-[74px] text-white">
  <div class="mx-auto grid max-w-[1080px] grid-cols-[548px_1fr] gap-[188px]">
    <div>
      <p class="text-[42px]/[56px] font-semibold">
        Ready to experience the best collaboration tool for your team?
      </p>
    </div>
    <div class="space-y-6">
      <LinkButton size="large">Sign up for free</LinkButton>
      <p class="text-lg/6 font-semibold">
        Interested in Metro Retro for your organization? <a href="#book-a-demo"
          ><strong>Book a demo</strong></a
        >.
      </p>
    </div>
  </div>
</section>
