---
const footerLinks: {
  title: string;
  links: { title: string; url: string }[];
}[] = Array.from({ length: 5 }, (_, i) => ({
  title: `Category Title ${i + 1}`,
  links: Array.from({ length: 6 }, (_, i) => ({
    title: `Page Link ${i + 1}`,
    url: "#" + i,
  })),
}));
---

<footer class="bg-blue p-16 text-white">
  <nav
    aria-label="Footer navigation"
    class="mx-auto grid max-w-7xl grid-cols-1 md:grid-cols-3 lg:grid-cols-5"
  >
    {
      footerLinks.map((fl) => (
        <div>
          <div class="py-3">
            <p class="text-lg/4 font-semibold">{fl.title}</p>
          </div>

          <ul class="space-y-2">
            {fl.links.map((link) => (
              <li>
                <a href={link.url} class="text-lg/8">
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </nav>
</footer>
