---
import Layout from "~/layouts/Layout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
---

<Layout>
  <SolutionHero
    title="Deliver value to your teams with a product made for Agile."
    description="Every organization is different, Metro Retro adapts to the way you and your team want to work while providing all the tools necessary to create and maintain a culture of collaboration."
    image="~/assets/images/page-heroes/hero-placeholder.png"
    color="blue"
  />

  <SolutionBanner
    title="Drive continuous improvement and help teams achieve the right goals with Metro Retro"
  />

  <SolutionLargeItem
    mirror="false"
    title="Build the workshop and frameworks your team needs"
    description="Combine pre-built board templates or customize your own. However you or your team work, Metro Retro is the flexible collaboration space for any session."
    image="~/assets/images/product-outcomes/build-the-workshops.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Monitor progress, remove blockers and plan ahead across teams."
    description="Whether you use Jira or our native action items, track outcomes from your meetings and review and refine how your teams work to remove obstacles and promote continuous improvement."
    image="~/assets/images/product-outcomes/monitor-progress-remove-blockers.png"
  />

  <SolutionLargeItem
    mirror="false"
    title="A visual space for shared understanding."
    description="Help your teams and stakeholders understand complex and abstract concepts easily in a visual platform which promotes engagement and makes ideas more tangible."
    image="~/assets/images/product-outcomes/visual-space-shared-understanding.png"
  />

  <SolutionBanner
    title="Guide teams to deliver value and build a culture which encourages participation."
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Private Writing"
        description="Remove bias and promote a safe space for input by allowing team members to share their input anonymously."
        image="~/assets/images/product-features/private-writing.png"
      />
      <SolutionFeatureItem
        title="Actions, Comments & Mentions"
        description="Keep your team and project on track with easy communication and task tracking features."
        image="~/assets/images/product-features/actions-comments-mentions.png"
      />
      <SolutionFeatureItem
        title="Focused Collaboration"
        description="With board tools built for facilitation, drive your meeting forward and guide your team to achieve better outcomes more efficiently."
        image="~/assets/images/product-features/focused-collaboration.png"
      />
      <SolutionFeatureItem
        title="Estimate effectively"
        description="Work together to estimate size and scope of stories and tasks with prebuilt templates or tools like voting, polls, topic groups"
        image="~/assets/images/product-features/estimated-effectively.png"
      />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Templates for Agile Teams" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionFeatureItem
        title="Ishikawa Diagram"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="T-shirt Estimation"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Definition of Done"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</Layout>
