---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import "swiper/css";
---

<PageLayout title="Delivery Managers">
  <SolutionHero
    title="Prioritize the work that matters and keep projects on track."
    description="Don't get stuck in a feature factory. Through engaged collaboration, drive your teams to shared understanding and align on the project goals that matter most."
    image="~/assets/images/page-heroes/delivery-managers.png"
    color="orange"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Balance priorities, cross-team communication and build team alignment to deliver on your sprints"
  />

  <SolutionLargeItem
    mirror="false"
    title="Track outcomes from your meetings to share progress insights"
    description="Set and track Actions across your teams as they are raised in your meetings to ensure alignment, transparency and progress across your projects."
    image="~/assets/images/product-outcomes/track-outcomes-from-your-meetings-dash.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Bring stakeholders together in a shared space"
    description="Easily invite team members, guests and external stakeholders to your boards to build cross-team alignment. Metro Retro's intuitive experience means there is no need for extensive onboarding."
    image="~/assets/images/product-outcomes/bring-stakeholders-together.png"
  />

  <SolutionLargeItem
    mirror="false"
    title="Prioritize what matters and identify potential risks early"
    description="Open and unbiased discussion, voting, topic grouping and built-in estimation templates help you to focus on the work that matters rather than setting up complex processes to manage decision making."
    image="~/assets/images/product-outcomes/prioritize-what-matters.png"
  />

  <SolutionBanner
    title="Resolve communication breakdowns and build processes for continuous improvement"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Estimate effectively"
        description="Work together to estimate size and scope of stories and tasks with prebuilt templates or tools like voting, polls, topic groups"
        image="~/assets/images/product-features/estimated-effectively.png"
      />
      <SolutionFeatureItem
        title="Actions, Comments & Mentions"
        description="Keep your team and project on track with easy communication and task tracking features."
        image="~/assets/images/product-features/actions-comments-mentions.png"
      />
      <SolutionFeatureItem
        title="Promote Team Culture"
        description="Personalization, fun gadgets, hats and confetti all build an environment of fun and individuality. Metro Retro helps you to celebrate the unique personalities in your team"
        image="~/assets/images/product-features/promote-team-culture.png"
      />
      <SolutionFeatureItem
        title="Focused Collaboration"
        description="With board tools built for facilitation, drive your meeting forward and guide your team to achieve better outcomes more efficiently."
        image="~/assets/images/product-features/focused-collaboration.png"
      />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Templates for Delivery Managers" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionFeatureItem
        title="Definition of Done"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="MosCow Prioritization"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Goal Oriented Product Roadmap"
        description="Try these perfect Templates for Product Design Teams"
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
