---
import Layout from "~/layouts/Layout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
---

<Layout>
  <SolutionHero
    title="Prioritize the work that matters and keep projects on track."
    description="Don't get stuck in a feature factory. Through engaged collaboration, drive your teams to shared understanding and align on the project goals that matter most."
    image="https://placehold.co/600x337"
  />

  <SolutionBanner
    title="Balance priorities, cross-team communication and build team alignment to deliver on your sprints"
  />

  <SolutionLargeItem
    mirror="false"
    title="Track outcomes from your meetings to share progress insights"
    description="Set and track Actions across your teams as they are raised in your meetings to ensure alignment, transparency and progress across your projects."
    image="~/assets/images/600x360.svg"
  />

  <SolutionLargeItem
    mirror="true"
    title="Bring stakeholders together in a shared space"
    description="Easily invite team members, guests and external stakeholders to your boards to build cross-team alignment. Metro Retro's intuitive experience means there is no need for extensive onboarding."
    image="~/assets/images/600x360.svg"
  />

  <SolutionLargeItem
    mirror="false"
    title="Prioritize what matters and identify potential risks early"
    description="Open and unbiased discussion, voting, topic grouping and built-in estimation templates help you to focus on the work that matters rather than setting up complex processes to manage decision making."
    image="~/assets/images/600x360.svg"
  />

  <SolutionBanner
    title="Resolve communication breakdowns and build processes for continuous improvement"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Definition of Done"
        description="Try these perfect Templates for Delivery Managers"
        image="https://placehold.co/540x440"
      />
      <SolutionFeatureItem
        title="MosCow Prioritization"
        description="Try these perfect Templates for Delivery Managers"
        image="https://placehold.co/540x440"
      />
      <SolutionFeatureItem
        title="Goal Oriented Product Roadmap"
        description="Try these perfect Templates for Delivery Managers"
        image="https://placehold.co/540x440"
      />
      <SolutionFeatureItem
        title="Social Proof"
        description="Optional but a common pattern to display customer logos and 'bold' statement of usage/popularity of the platform"
        image="https://placehold.co/540x440"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</Layout>
