---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import SolutionTemplateItem from "~/components/blocks/SolutionTemplateItem.astro";
import ActionsCommentsMentionsFeatureItem from "~/components/blocks/features/ActionsCommentsMentionsFeatureItem.astro";
import EstimateEffectivelyFeatureItem from "~/components/blocks/features/EstimateEffectivelyFeatureItem.astro";
import AgileProcessesFeatureItem from "~/components/blocks/features/AgileProcessesFeatureItem.astro";
import RoadmapsFeatureItem from "~/components/blocks/features/RoadmapsFeatureItem.astro";
---

<PageLayout title="Planning Ahead">
  <SolutionHero
    title="Effective planning builds structure, reduces risk and keeps your team focused on what matters."
    description="Don't just focus on what you have done, Metro Retro helps your team plan the future of your organization, reducing costly rework and enhancing team coordination on what comes next."
    image="~/assets/images/page-heroes/planning-ahead.png"
    color="orange"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Align your team and business goals with focused and cross-team collaboration in Metro Retro"
  />

  <SolutionLargeItem
    mirror="false"
    title="Prioritize the work ahead with clarity"
    description="A single space for backlog refinement, sprint review and planning means no more context switching. Keeping your teams focused on priority goals and the product vision."
    image="~/assets/images/product-outcomes/prioritize-work-ahead.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Bring stakeholders together in a shared space"
    description="Easily invite team members, guests and external stakeholders to your boards to build cross-team alignment. Metro Retro's intuitive experience means there is no need for extensive onboarding."
    image="~/assets/images/product-outcomes/bring-stakeholders-together.png"
  />

  <SolutionBanner
    title="Tools built for shared understanding and prioritizing your future"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <ActionsCommentsMentionsFeatureItem />
      <EstimateEffectivelyFeatureItem />
      <AgileProcessesFeatureItem />
      <RoadmapsFeatureItem />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Templates for Planning Ahead" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionTemplateItem
        title="Now-Next-Later Roadmap"
        description="Plan your product's journey with a clear timeline."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="RAID Analysis"
        description="Identify and manage risks, assumptions, issues, and dependencies effectively."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="On The Radar"
        description="Keep track of important tasks and projects that are on the horizon."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
