---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
---

<PageLayout title="Project Reviews">
  <SolutionHero
    title="Gain critical insights and improve future work with effective project reviews"
    description="It's not always about focusing on the negative but learning from both what went well and what didn't quite go to plan. Make reviews a collaborative opportunity for future success."
    image="~/assets/images/page-heroes/hero-placeholder.png"
    color="orange"
  />

  <SolutionBanner
    title="Metro Retro offers a single space for your team to review and learn from past work. Build a shared understanding for continuous improvement"
  />

  <SolutionLargeItem
    mirror="false"
    title="Retrospectives that drive engagement and communication."
    description="Active engagement from your team helps to uncover insights when reviewing past work. Metro Retro templates keep your meetings fresh and encourage participation."
    image="~/assets/images/product-outcomes/retros-that-drive-engagement.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Keep the momentum going once the meeting ends"
    description="Track outcomes from your meetings to ensure you never lose those valuable insights again. Having outcomes visible across your team helps to drive alignment, promote transparency and surface blockers early."
    image="~/assets/images/product-outcomes/keep-the-momentum-going.png"
  />

  <SolutionBanner
    title="Everything you need to capture insights and improve future work"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Agile processes"
        description="Run engaging planning and retrospective sessions with pre-built or custom templates. Polls, t-shirt sizing, action tracking and more"
        image="~/assets/images/product-features/agile-processes.png"
      />
      <SolutionFeatureItem
        title="Topics"
        description="Easily group insights gathered during your collaborative session."
        image="~/assets/images/product-features/topics.png"
      />
      <SolutionFeatureItem
        title="Actions, Comments & Mentions"
        description="Keep your team and project on track with easy communication and task tracking features."
        image="~/assets/images/product-features/actions-comments-mentions.png"
      />
      <SolutionFeatureItem
        title="CSV Data Import"
        description="Bring data and insights directly from external platforms to review everything in a single shared space."
        image="~/assets/images/product-features/csv-data-import.png"
      />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Templates for Project Reviews" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionFeatureItem
        title="Sailboat Retro"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Good, Bad, Stop, Start Retro"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Incident Post Mortem"
        description="Analyze incidents to prevent future occurrences and improve processes."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
