---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
---

<PageLayout title="Project Management">
  <SolutionHero
    title="See the full picture of your project in a single space."
    description="Avoid context switching and plan your entire project from concept to delivery in a single shared space for improved efficiency and coordination."
    image="~/assets/images/page-heroes/project-management.png"
    color="purple"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Plan, review, discuss and action your projects from a single source of truth"
  />

  <SolutionLargeItem
    mirror="false"
    title="A visual space for shared understanding."
    description="Help your teams and stakeholders understand complex and abstract concepts easily in a visual platform which promotes engagement and makes ideas more tangible."
    image="~/assets/images/product-outcomes/visual-space-shared-understanding.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Prioritize what matters and identify potential risks early"
    description="Open and unbias discussion, voting, topic grouping and built-in estimation templates help you to focus on the work that matters rather than setting up complex processes to manage decision making."
    image="~/assets/images/product-outcomes/prioritize-what-matters.png"
  />

  <SolutionLargeItem
    mirror="false"
    title="Track outcomes from your meetings to share progress insights"
    description="Set and track Actions across your teams as they are raised in your meetings to ensure alignment, transparency and progress across your projects."
    image="~/assets/images/product-outcomes/track-outcomes-from-your-meetings-dash.png"
  />

  <SolutionBanner
    title="Increase engagement with your team and plan the work that matters most"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Diagramming"
        description="Design and refine your workflows, customer maps or product flows easily with our diagramming tools."
        image="~/assets/images/product-features/diagramming.png"
      />
      <SolutionFeatureItem
        title="CSV Data Import"
        description="Bring data and insights directly from external platforms to review everything in a single shared space."
        image="~/assets/images/product-features/csv-data-import.png"
      />
      <SolutionFeatureItem
        title="Estimate effectively"
        description="Work together to estimate size and scope of stories and tasks with prebuilt templates or tools like voting, polls, topic groups."
        image="~/assets/images/product-features/estimated-effectively.png"
      />
      <SolutionFeatureItem
        title="Timelines & Roadmap Tools"
        description="Don't lay out your roadmap manually, just use our Timeline Frame to set out the dates and drag and drop cards on as you need."
        image="~/assets/images/product-features/roadmaps.png"
      />
    </div>
  </section>

  <SolutionBanner title=" Expertly crafted Templates for Project Management." />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionFeatureItem
        title="Good, Bad, Stop, Start"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Sailboat"
        description="Use the sailboat retrospective to identify what propels your team forward and what holds it back."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Ishakawa Diagram"
        description="Analyze the root causes of problems with the Ishakawa (fishbone) diagram."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
