---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import SolutionTemplateItem from "~/components/blocks/SolutionTemplateItem.astro";
import FocusedCollaborationFeatureItem from "~/components/blocks/features/FocusedCollaborationFeatureItem.astro";
import ActivityFramesFeatureItem from "~/components/blocks/features/ActivityFramesFeatureItem.astro";
import ActionsCommentsMentionsFeatureItem from "~/components/blocks/features/ActionsCommentsMentionsFeatureItem.astro";
import PrivateWritingFeatureItem from "~/components/blocks/features/PrivateWritingFeatureItem.astro";
---

<PageLayout title="Remote Collaboration">
  <SolutionHero
    title="Work with remote and hybrid teams like you're in the same room"
    description="Distracted or unengaged remote collaborators reduce the value they could be adding. Bring your team together in a space that feels natural and encourages communication."
    image="~/assets/images/page-heroes/remote-collaboration.png"
    color="green"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Celebrate your team's individual personalities and run meetings they actually enjoy."
  />

  <SolutionLargeItem
    mirror="false"
    title="Build the workshop and frameworks your team needs"
    description="Combine  board templates or customize your own. However you or your team work, Metro Retro is the flexible collaboration space for any meeting type."
    image="~/assets/images/product-outcomes/build-the-workshops.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="A visual space for shared understanding."
    description="Help your teams and stakeholders understand complex and abstract concepts easily in a visual platform which promotes engagement and makes ideas more tangible."
    image="~/assets/images/product-outcomes/visual-space-shared-understanding.png"
  />

  <SolutionLargeItem
    mirror="false"
    title="A space designed to promote expression"
    description="Whether it's setting your own handwriting style, putting on a hat, keeping your sticky notes private or just throwing confetti every 5 minutes, Metro Retro understands that the best teams have mixed personalities and we don't try to put everyone in the same box."
    image="~/assets/images/product-outcomes/designed-for-expression.png"
  />

  <SolutionBanner
    title="Metro Retro makes it easy to focus on the work, not the process of running a remote meeting"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <FocusedCollaborationFeatureItem />
      <ActivityFramesFeatureItem />
      <ActionsCommentsMentionsFeatureItem />
      <PrivateWritingFeatureItem />
    </div>
  </section>

  <SolutionBanner
    title="Expertly crafted Templates to help guide Remote Collaboration"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionTemplateItem
        title="Good, Bad, Stop, Start"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="Sailboat"
        description="Navigate your team's journey with the Sailboat retrospective."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="Ishakawa Diagram"
        description="Identify root causes and improve processes with the Ishakawa Diagram."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
