---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
---

<PageLayout title="Retrospectives">
  <SolutionHero
    title="Build a team focused on continuous improvement with quality retrospectives"
    description="Meetings don't have to be considered anti-work or a boring requirement of process. With Metro Retro you can bring the fun back to your collaboration and get your team engaged in the process."
    image="~/assets/images/page-heroes/retrospectives.png"
    color="blue"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Set your team up for future success with Metro Retro, the platform designed to make collaboration effortless and engaging"
  />

  <SolutionLargeItem
    mirror="false"
    title="Seamless collaboration for remote and hybrid teams"
    description="With  templates, intuitive tools and facilitator controls which help you to guide participants through your meeting, Metro Retro is the closest thing to being in the room together, enabling all members of your team to contribute to discussions."
    image="~/assets/images/product-outcomes/seamless-collaboration-remote-and-hybrid-controls.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Retrospectives that drive engagement and communication."
    description="Active engagement from your team helps to uncover insights when reviewing past work. Metro Retro templates keep your meetings fresh and encourage participation."
    image="~/assets/images/product-outcomes/retros-that-drive-engagement.png"
  />

  <SolutionLargeItem
    mirror="false"
    title="Track outcomes from your meetings to share progress insights"
    description="Set and track Actions across your teams as they are raised in your meetings to ensure alignment, transparency and progress across your projects."
    image="~/assets/images/product-outcomes/track-outcomes-from-your-meetings-dash.png"
  />

  <SolutionBanner title="Reflect, Collaborate and Celebrate with Metro Retro" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <SolutionFeatureItem
        title="Private Writing"
        description="Remove bias and promote a safe space for input by allowing team members to share their input anonymously."
        image="~/assets/images/product-features/private-writing.png"
      />
      <SolutionFeatureItem
        title="Promote Team Culture"
        description="Personalization, fun gadgets, hats and confetti all build an environment of fun and individuality. Metro Retro helps you to celebrate the unique personalities in your team."
        image="~/assets/images/product-features/promote-team-culture.png"
      />
      <SolutionFeatureItem
        title="Focused Collaboration"
        description="With board tools built for facilitation, drive your meeting forward and guide your team to achieve better outcomes more efficiently."
        image="~/assets/images/product-features/focused-collaboration.png"
      />
      <SolutionFeatureItem
        title="Voting"
        description="Work together to prioritize what matters the most to achieving your goals."
        image="~/assets/images/product-features/voting.png"
      />
    </div>
  </section>

  <SolutionBanner
    title="Expertly crafted Templates to kick-start your Retrospectives"
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionFeatureItem
        title="Good, Bad, Stop, Start"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Sailboat"
        description="Visualize your team's journey and identify what helps or hinders progress."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionFeatureItem
        title="Ishakawa Diagram"
        description="Analyze the root causes of issues with this fishbone diagram template."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
