---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import "swiper/css";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import SolutionTemplateItem from "~/components/blocks/SolutionTemplateItem.astro";
import ActionsCommentsMentionsFeatureItem from "~/components/blocks/features/ActionsCommentsMentionsFeatureItem.astro";
import ActivityFramesFeatureItem from "~/components/blocks/features/ActivityFramesFeatureItem.astro";
import CSVDataImportFeatureItem from "~/components/blocks/features/CSVDataImportFeatureItem.astro";
import PrivateWritingFeatureItem from "~/components/blocks/features/PrivateWritingFeatureItem.astro";
---

<PageLayout title="Team Alignment">
  <SolutionHero
    title="Drive efficiency with team alignment and a shared understanding of goals"
    description="Cut through the chaos of too many sources of information and get your team focused and working together in a single space."
    image="~/assets/images/page-heroes/team-alignment.png"
    color="orange"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Metro Retro is a shared space for all of your team planning and collaboration. Share knowledge and insight easily with all stakeholders."
  />

  <SolutionLargeItem
    mirror="false"
    title="A visual space for shared understanding."
    description="Help your teams and stakeholders understand complex and abstract concepts easily in a visual platform which promotes engagement and makes ideas more tangible."
    image="~/assets/images/product-outcomes/visual-space-shared-understanding.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="Monitor progress, remove blockers and plan ahead across teams."
    description="Whether you use Jira or our native action items, track outcomes from your meetings and review and refine how your teams work to remove obstacles and promote continuous improvement."
    image="~/assets/images/product-outcomes/monitor-progress-remove-blockers.png"
  />

  <SolutionBanner
    title="Everything you need for unbiased opinion, insight tracking and getting all parts of your team working on what matters."
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <ActionsCommentsMentionsFeatureItem />
      <ActivityFramesFeatureItem />
      <CSVDataImportFeatureItem />
      <PrivateWritingFeatureItem />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Templates for Team Alignment" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionTemplateItem
        title="Definition of Done"
        description="Plan your product's journey with a clear timeline."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="Three Little Pigs"
        description="Reflect on past work and plan improvements with this retrospective template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="On The Radar"
        description="Use Fibonacci numbers to estimate and prioritize tasks effectively."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
