---
import PageLayout from "~/layouts/PageLayout.astro";
import CustomerStories from "~/components/blocks/CustomerStories.astro";
import SignUp from "~/components/blocks/SignUp.astro";
import Testimonials from "~/components/blocks/Testimonials.astro";
import SolutionHero from "~/components/blocks/SolutionHero.astro";
import SolutionBanner from "~/components/blocks/SolutionBanner.astro";
import SolutionLargeItem from "~/components/blocks/SolutionLargeItem.astro";
import SolutionFeatureItem from "~/components/blocks/SolutionFeatureItem.astro";
import UsageStatement from "~/components/blocks/instances/UsageStatement.astro";
import CustomerLogos from "~/components/blocks/CustomerLogos.astro";
import "swiper/css";
import SolutionTemplateItem from "~/components/blocks/SolutionTemplateItem.astro";
import PrivateWritingFeatureItem from "~/components/blocks/features/PrivateWritingFeatureItem.astro";
import PromoteTeamCultureFeatureItem from "~/components/blocks/features/PromoteTeamCultureFeatureItem.astro";
import WearHatsFeatureItem from "~/components/blocks/features/WearHatsFeatureItem.astro";
import CreateSharedResponsibilityFeatureItem from "~/components/blocks/features/CreateSharedResponsibilityFeatureItem.astro";
---

<PageLayout title="Team Health">
  <SolutionHero
    title="Improve productivity and build a team based on trust and psychological safety"
    description="Avoid only having a few voices in your meetings. Positive team health promotes collaboration and creates an environment where knowledge sharing becomes natural rather than forced."
    image="~/assets/images/page-heroes/team-health.png"
    color="orange"
  />

  <div class="px-4">
    <div class="mx-auto mt-16 mb-6 max-w-[1024px] space-y-16">
      <UsageStatement />
    </div>
  </div>

  <CustomerLogos />

  <SolutionBanner
    title="Give everyone in your team a voice and celebrate achievements together with Metro Retro"
  />

  <SolutionLargeItem
    mirror="false"
    title="Break the ice and energize your team"
    description="Metro Retro is packed full of  templates, one of those areas being Ice Breakers and Energizers. As a software team we understand the pain of staying enthusiastic for every meeting. It's why we've designed fun, light, kick-off templates to help get teams in the mood for collaboration."
    image="~/assets/images/product-outcomes/break-ice-and-energise.png"
  />

  <SolutionLargeItem
    mirror="true"
    title="A space designed to promote expression"
    description="Whether it's setting your own handwriting style, putting on a hat, keeping your sticky notes private or just throwing confetti every 5 minutes, Metro Retro understands that the best teams have mixed personalities and we don't try to put everyone in the same box."
    image="~/assets/images/product-outcomes/designed-for-expression.png"
  />

  <SolutionBanner
    title="Encourage open communication and collaboration with Metro Retro."
  />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-2 gap-16 px-8">
      <PrivateWritingFeatureItem />
      <PromoteTeamCultureFeatureItem />
      <WearHatsFeatureItem />
      <CreateSharedResponsibilityFeatureItem />
    </div>
  </section>

  <SolutionBanner title="Try these perfect Team Health Templates" />

  <section class="relative z-[1] py-8">
    <div class="mx-auto grid max-w-[1280px] grid-cols-3 gap-16 px-8">
      <SolutionTemplateItem
        title="Explorer, Shopper, Vacationer, Prisoner"
        description="Explore different team dynamics and roles with this engaging template."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="Team Mood Icebreaker"
        description="Kick off your meetings with a fun and engaging icebreaker to set the mood."
        image="~/assets/images/feature-placeholder.png"
      />
      <SolutionTemplateItem
        title="Two Truths, One Lie"
        description="Get to know your team better with this classic icebreaker game."
        image="~/assets/images/feature-placeholder.png"
      />
    </div>
  </section>

  <CustomerStories />

  <Testimonials />
</PageLayout>
