---
import "~/styles/global.css";
import { SEO } from "astro-seo";
import type { Props as AstroSEOProps } from "astro-seo";
import { site } from "~/constants";

interface Props extends AstroSEOProps {
  /**
   * Applied to html body
   */
  class?: astroHTML.JSX.HTMLAttributes["class"];
  /**
   * Applied to html body
   */
  "class:list"?: astroHTML.JSX.HTMLAttributes["class:list"];
}
const {
  title,
  description,
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Metro Retro" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <SEO
      title={title}
      titleDefault={site.name}
      titleTemplate={`%s - ${site.name}`}
      description={description || site.description}
      {...props}
    />
    <slot name="head" />
  </head>
  <body
    class:list={[
      "font-golos-text bg-page-bg flex min-h-full flex-col",
      classList,
      className,
    ]}
  >
    <slot />
    <slot name="footer" />
  </body>
</html>
