---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import TheNavbar from "~/components/TheNavbar.astro";
import TheFooter from "~/components/TheFooter.astro";
import "swiper/css";
import AnnouncementBanner from "~/components/blocks/AnnouncementBanner.astro";

interface Props extends ComponentProps<typeof BaseLayout> {}
---

<BaseLayout {...Astro.props}>
  <slot name="top" />
  <AnnouncementBanner>
    <p>This is the announcement banner!!</p>
  </AnnouncementBanner>
  <TheNavbar />
  <main class="flex-1">
    <slot />
  </main>
  <TheFooter />
</BaseLayout>
