---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import TheNavbar from "~/components/TheNavbar.astro";
import TheFooter from "~/components/TheFooter.astro";

import "swiper/css";

interface Props extends ComponentProps<typeof BaseLayout> {
  /**
   * Wrap default slot in a main tag
   * @default true
   */
  mainWrapper?: boolean;
}

const { mainWrapper = true, ...props } = Astro.props;
---

<BaseLayout {...props}>
  <slot name="top" />
  <TheNavbar>
    <slot name="banner" slot="banner" />
  </TheNavbar>
  {
    mainWrapper ? (
      <main class="flex-1">
        <slot />
      </main>
    ) : (
      <slot />
    )
  }
  <TheFooter />
</BaseLayout>
