---
import type { ComponentProps } from "astro/types";
import BaseLayout from "./BaseLayout.astro";
import TheNavbar from "~/components/TheNavbar.astro";
import TheFooter from "~/components/TheFooter.astro";
import "swiper/css";
import AnnouncementBanner from "~/components/blocks/AnnouncementBanner.astro";
import type { Props as AstroSEOProps } from "astro-seo";
interface Props extends AstroSEOProps {
  /**
   * Applied to html body
   */
  class?: astroHTML.JSX.HTMLAttributes["class"];
  /**
   * Applied to html body
   */
  "class:list"?: astroHTML.JSX.HTMLAttributes["class:list"];
}

const { title, ...props } = Astro.props;
---

<BaseLayout {...props} title={title}>
  <slot name="top" />
  <AnnouncementBanner>
    <p>This is the announcement banner!!</p>
  </AnnouncementBanner>
  <TheNavbar />
  <main class="flex-1">
    <slot />
  </main>
  <TheFooter />
</BaseLayout>
