---
import BaseLayout from "./BaseLayout.astro";
import TheNavbar from "~/components/TheNavbar.astro";
import TheFooter from "~/components/TheFooter.astro";
import "swiper/css";
import AnnouncementBanner from "~/components/blocks/AnnouncementBanner.astro";
import type { Props as AstroSEOProps } from "astro-seo";
interface Props extends AstroSEOProps {
  spacing?: "sm" | "md" | "lg";
  /**
   * Applied to html body
   */
  class?: astroHTML.JSX.HTMLAttributes["class"];
  /**
   * Applied to html body
   */
  "class:list"?: astroHTML.JSX.HTMLAttributes["class:list"];
}

const { title, spacing = "lg", ...props } = Astro.props;
---

<BaseLayout {...props} title={title}>
  <slot name="top" />
  <AnnouncementBanner>
    <p>
      For detailed guides on all Ludi features, check out our
      <a
        href="https://docs.metroretro.io/"
        class="underline decoration-white decoration-1 underline-offset-2"
        target="_blank">Help Docs</a
      >
    </p>
  </AnnouncementBanner>
  <TheNavbar />
  <main
    class:list={[
      "flex-1 px-4",
      spacing === "lg" && "space-y-24",
      spacing === "lg" && "lg:space-y-32",
      spacing === "md" && "space-y-12",
      spacing === "md" && "lg:space-y-16",
      spacing === "sm" && "space-y-6",
      spacing === "sm" && "lg:space-y-8",
    ]}
  >
    <slot />
  </main>
  <TheFooter />
</BaseLayout>
