---
import type { HTMLAttributes } from "astro/types";
import type { ButtonProps } from "~/types";
import { buttonStyles } from "./styles";
type Props = ButtonProps & HTMLAttributes<"button">;

const {
  kind = "primary",
  size = "default",
  color = "blue",
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;
---

<button
  {...props}
  class:list={[buttonStyles({ kind, size, color }), className, classList]}
>
  <slot />
</button>
