---
interface Props extends astroHTML.JSX.HTMLAttributes {
  text: string;
}
const { text, class: className, "class:list": classList } = Astro.props;
---

<div class:list={["text-body flex items-center gap-3", className, classList]}>
  <slot name="icon">
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 0C4.47727 0 0 4.47727 0 10C0 15.5227 4.47727 20 10 20C15.5227 20 20 15.5227 20 10C20 4.47727 15.5227 0 10 0ZM10 1.81818C14.5186 1.81818 18.1818 5.48136 18.1818 10C18.1818 14.5186 14.5186 18.1818 10 18.1818C5.48136 18.1818 1.81818 14.5186 1.81818 10C1.81818 5.48136 5.48136 1.81818 10 1.81818ZM14.074 5.63565C13.7822 5.64122 13.4985 5.78718 13.3283 6.05025L8.91513 12.8622L6.59268 10.2211C6.26132 9.8447 5.68577 9.80756 5.30895 10.1394C4.93213 10.4712 4.89502 11.0458 5.22639 11.4231L8.34251 14.9645C8.51614 15.1613 8.76521 15.2726 9.02521 15.2726C9.04703 15.2726 9.06952 15.2721 9.0918 15.2708C9.37589 15.2499 9.63282 15.0966 9.78782 14.858L14.8544 7.03924C15.1271 6.61788 15.0068 6.05532 14.5854 5.78214C14.4269 5.67987 14.2492 5.63231 14.074 5.63565Z"
        fill="currentColor"></path>
    </svg>
  </slot>
  <span class="text-body">{text}</span>
</div>
