---
import type { HTMLAttributes } from "astro/types";
import type { Color } from "~/types";

interface Props extends HTMLAttributes<"a"> {
  color?: Color;
  children: string;
}

const {
  color = "blue",
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;
---

<a
  {...props}
  class:list={[
    color === "blue" && "text-blue",
    color === "purple" && "text-purple",
    color === "green" && "text-green",
    color === "orange" && "text-orange",
    "flex items-center text-lg/6 font-semibold",
    className,
    classList,
  ]}
>
  <slot />
  <svg
    width="14"
    height="10"
    viewBox="0 0 14 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 5H13"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"></path>
    <path
      d="M9 9L13 5L9 1"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</a>
