---
import type { HTMLAttributes } from "astro/types";
import { buttonStyles } from "./styles";
import type { ButtonProps } from "~/types";

type Props = ButtonProps & HTMLAttributes<"a">;

const {
  kind = "primary",
  size = "default",
  color = "blue",
  class: className,
  "class:list": classList,
  ...props
} = Astro.props;
---

<a
  {...props}
  class:list={[
    "w-max",
    buttonStyles({ kind, size, color }),
    className,
    classList,
  ]}
>
  <slot />
</a>
