---
interface Props extends astroHTML.JSX.HTMLAttributes {
  color?: "blue" | "orange" | "gray" | "purple" | "green";

  children: any;
}
const {
  color = "blue",
  class: classNames,
  "class:list": classList,
} = Astro.props;
---

<div
  class:list={[
    `pill pill-${color}`,
    "mx-auto w-max rounded-full px-6 py-0.5 text-center text-base/6 font-semibold md:text-lg/6 [&_a]:underline",
    color === "gray" && "text-gray bg-gray-100",
    color === "blue" && "text-blue bg-blue-100",
    color === "orange" && "text-orange bg-orange-100",
    color === "purple" && "text-purple bg-purple-100",
    color === "green" && "text-green bg-green-100",
    classNames,
    classList,
  ]}
>
  <slot />
</div>
